workflows/demo:-my-first-ai-agent-in-n8n-i69FWTaD67IB842e.json
{"data":"{\"data\":\"{\\\"createdAt\\\":\\\"2025-04-15T17:05:10.097Z\\\",\\\"updatedAt\\\":\\\"2025-04-15T19:28:07.000Z\\\",\\\"id\\\":\\\"85CgQx8aaxOKesc5\\\",\\\"name\\\":\\\"git\\\",\\\"active\\\":true,\\\"nodes\\\":[{\\\"parameters\\\":{\\\"options\\\":{}},\\\"id\\\":\\\"74b1d12a-1953-4e47-b69c-c08ef5c2c7c2\\\",\\\"name\\\":\\\"Set date\\\",\\\"type\\\":\\\"n8n-nodes-base.dateTime\\\",\\\"typeVersion\\\":2,\\\"position\\\":[200,320]},{\\\"parameters\\\":{\\\"operation\\\":\\\"formatDate\\\",\\\"date\\\":\\\"={{ $json.currentDate }}\\\",\\\"format\\\":\\\"custom\\\",\\\"customFormat\\\":\\\"dd-MM-yyyy/H:mm\\\",\\\"options\\\":{}},\\\"id\\\":\\\"a45a97bb-c84c-4837-96f0-e378048b25b4\\\",\\\"name\\\":\\\"Format date\\\",\\\"type\\\":\\\"n8n-nodes-base.dateTime\\\",\\\"typeVersion\\\":2,\\\"position\\\":[400,320]},{\\\"parameters\\\":{\\\"keepOnlySet\\\":true,\\\"values\\\":{\\\"string\\\":[{\\\"name\\\":\\\"commitDate\\\",\\\"value\\\":\\\"={{ $json.formattedDate }}\\\"}]},\\\"options\\\":{}},\\\"id\\\":\\\"4e0cc69d-8095-4e95-883d-9e918153e795\\\",\\\"name\\\":\\\"Set commit date\\\",\\\"type\\\":\\\"n8n-nodes-base.set\\\",\\\"typeVersion\\\":2,\\\"position\\\":[600,320]},{\\\"parameters\\\":{\\\"authentication\\\":\\\"oAuth2\\\",\\\"resource\\\":\\\"file\\\",\\\"operation\\\":\\\"list\\\",\\\"owner\\\":{\\\"__rl\\\":true,\\\"value\\\":\\\"=https://github.com/{{ $('git_repos').item.json.user }}\\\",\\\"mode\\\":\\\"url\\\"},\\\"repository\\\":{\\\"__rl\\\":true,\\\"value\\\":\\\"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}\\\",\\\"mode\\\":\\\"url\\\"},\\\"filePath\\\":\\\"={{ $('git_repos').item.json.folder }}\\\"},\\\"id\\\":\\\"814f5b6c-9a36-4df1-9f34-b84a0f112b5c\\\",\\\"name\\\":\\\"List files from repository [GITHUB]\\\",\\\"type\\\":\\\"n8n-nodes-base.github\\\",\\\"typeVersion\\\":1,\\\"position\\\":[900,320],\\\"alwaysOutputData\\\":true,\\\"credentials\\\":{\\\"githubOAuth2Api\\\":{\\\"id\\\":\\\"SZ9drHPSJtxxDnV3\\\",\\\"name\\\":\\\"GitHub account\\\"}}},{\\\"parameters\\\":{\\\"operation\\\":\\\"aggregateItems\\\",\\\"fieldsToAggregate\\\":{\\\"fieldToAggregate\\\":[{\\\"fieldToAggregate\\\":\\\"name\\\"}]},\\\"options\\\":{}},\\\"id\\\":\\\"dd727c17-0461-44ed-a346-b0a03fb1c4cd\\\",\\\"name\\\":\\\"Combine file names [GITHUB]\\\",\\\"type\\\":\\\"n8n-nodes-base.itemLists\\\",\\\"typeVersion\\\":2.1,\\\"position\\\":[1220,320]},{\\\"parameters\\\":{\\\"filters\\\":{},\\\"requestOptions\\\":{}},\\\"id\\\":\\\"bf47f944-b0ec-4f40-9ebc-450746c84ec2\\\",\\\"name\\\":\\\"Retrieve workflows [N8N]\\\",\\\"type\\\":\\\"n8n-nodes-base.n8n\\\",\\\"typeVersion\\\":1,\\\"position\\\":[1420,320],\\\"credentials\\\":{\\\"n8nApi\\\":{\\\"id\\\":\\\"Vr1cbGSerVjbjeY5\\\",\\\"name\\\":\\\"n8n account\\\"}}},{\\\"parameters\\\":{\\\"mode\\\":\\\"jsonToBinary\\\",\\\"options\\\":{\\\"fileName\\\":\\\"={{ $json.name.replace(/\\\\\\\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json\\\"}},\\\"id\\\":\\\"f04e7704-8ffd-478d-bce3-43da7c68e8a9\\\",\\\"name\\\":\\\"Move JSON to binary\\\",\\\"type\\\":\\\"n8n-nodes-base.moveBinaryData\\\",\\\"typeVersion\\\":1,\\\"position\\\":[1620,320]},{\\\"parameters\\\":{\\\"batchSize\\\":1,\\\"options\\\":{}},\\\"id\\\":\\\"eef64228-501a-469a-b5cf-549d8b834a79\\\",\\\"name\\\":\\\"Split to single items\\\",\\\"type\\\":\\\"n8n-nodes-base.splitInBatches\\\",\\\"typeVersion\\\":2,\\\"position\\\":[1860,320]},{\\\"parameters\\\":{\\\"conditions\\\":{\\\"string\\\":[{\\\"value1\\\":\\\"={{ $node['Combine file names [GITHUB]'].json.name }}\\\",\\\"operation\\\":\\\"contains\\\",\\\"value2\\\":\\\"={{ $binary.data.fileName }}\\\"}]}},\\\"id\\\":\\\"8a85300d-23b0-4302-b729-ee5f46622ef3\\\",\\\"name\\\":\\\"Check if file exists in repository\\\",\\\"type\\\":\\\"n8n-nodes-base.if\\\",\\\"typeVersion\\\":1,\\\"position\\\":[2100,240]},{\\\"parameters\\\":{\\\"authentication\\\":\\\"oAuth2\\\",\\\"resource\\\":\\\"file\\\",\\\"operation\\\":\\\"edit\\\",\\\"owner\\\":{\\\"__rl\\\":true,\\\"value\\\":\\\"=https://github.com/{{ $('git_repos').item.json.user }}\\\",\\\"mode\\\":\\\"url\\\"},\\\"repository\\\":{\\\"__rl\\\":true,\\\"value\\\":\\\"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}\\\",\\\"mode\\\":\\\"url\\\"},\\\"filePath\\\":\\\"={{ $('git_repos').item.json.folder }}/{{ $binary.data.fileName }}\\\",\\\"binaryData\\\":true,\\\"commitMessage\\\":\\\"=backup-{{ $node['Set commit date'].json.commitDate }}\\\"},\\\"id\\\":\\\"773a0cb7-42ee-462f-96c8-fa9e017f3bf1\\\",\\\"name\\\":\\\"Update file [GITHUB]\\\",\\\"type\\\":\\\"n8n-nodes-base.github\\\",\\\"typeVersion\\\":1,\\\"position\\\":[2320,40],\\\"credentials\\\":{\\\"githubOAuth2Api\\\":{\\\"id\\\":\\\"SZ9drHPSJtxxDnV3\\\",\\\"name\\\":\\\"GitHub account\\\"}}},{\\\"parameters\\\":{\\\"authentication\\\":\\\"oAuth2\\\",\\\"resource\\\":\\\"file\\\",\\\"owner\\\":{\\\"__rl\\\":true,\\\"value\\\":\\\"=https://github.com/{{ $('git_repos').item.json.user }}\\\",\\\"mode\\\":\\\"url\\\"},\\\"repository\\\":{\\\"__rl\\\":true,\\\"value\\\":\\\"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}\\\",\\\"mode\\\":\\\"url\\\"},\\\"filePath\\\":\\\"={{ $('git_repos').item.json.folder }}/{{ $binary.data.fileName }}\\\",\\\"binaryData\\\":true,\\\"commitMessage\\\":\\\"=backup-{{ $node['Set commit date'].json.commitDate }}\\\"},\\\"id\\\":\\\"1fbeb657-6fca-4fce-b46b-222c32f00291\\\",\\\"name\\\":\\\"Upload file [GITHUB]\\\",\\\"type\\\":\\\"n8n-nodes-base.github\\\",\\\"typeVersion\\\":1,\\\"position\\\":[2320,440],\\\"credentials\\\":{\\\"githubOAuth2Api\\\":{\\\"id\\\":\\\"SZ9drHPSJtxxDnV3\\\",\\\"name\\\":\\\"GitHub account\\\"}}},{\\\"parameters\\\":{\\\"content\\\":\\\"## Set and format date/time\\\\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.\\\",\\\"height\\\":299,\\\"width\\\":585},\\\"id\\\":\\\"98a24117-37d6-49ac-809d-21618d9f8826\\\",\\\"name\\\":\\\"Sticky Note1\\\",\\\"type\\\":\\\"n8n-nodes-base.stickyNote\\\",\\\"typeVersion\\\":1,\\\"position\\\":[160,180]},{\\\"parameters\\\":{\\\"content\\\":\\\"## Make a list of existing files\\\\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \\\\\\\"IF\\\\\\\" node (later in workflow) to check whether the backup files should be created or updated.\\\",\\\"height\\\":319,\\\"width\\\":390},\\\"id\\\":\\\"7310513d-7957-41d4-907b-4d183068356b\\\",\\\"name\\\":\\\"Sticky Note2\\\",\\\"type\\\":\\\"n8n-nodes-base.stickyNote\\\",\\\"typeVersion\\\":1,\\\"position\\\":[760,180]},{\\\"parameters\\\":{\\\"content\\\":\\\"## Retrieve workflows\\\\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**\\\",\\\"height\\\":319,\\\"width\\\":384},\\\"id\\\":\\\"4a885de8-8f36-421f-a8b7-bbee36afeaa7\\\",\\\"name\\\":\\\"Sticky Note3\\\",\\\"type\\\":\\\"n8n-nodes-base.stickyNote\\\",\\\"typeVersion\\\":1,\\\"position\\\":[1180,180]},{\\\"parameters\\\":{\\\"mode\\\":\\\"raw\\\",\\\"jsonOutput\\\":\\\"{\\\\n  \\\\\\\"user\\\\\\\": \\\\\\\"CyrilDenoyelle\\\\\\\",\\\\n  \\\\\\\"repos\\\\\\\": \\\\\\\"n8n_game_master_ai\\\\\\\",\\\\n  \\\\\\\"folder\\\\\\\": \\\\\\\"workflows\\\\\\\"\\\\n}\\\",\\\"includeOtherFields\\\":true,\\\"options\\\":{}},\\\"type\\\":\\\"n8n-nodes-base.set\\\",\\\"typeVersion\\\":3.4,\\\"position\\\":[20,320],\\\"id\\\":\\\"06743341-2cde-4458-ba68-5b018c44dfd0\\\",\\\"name\\\":\\\"git_repos\\\"},{\\\"parameters\\\":{\\\"formTitle\\\":\\\"Commit\\\",\\\"formFields\\\":{\\\"values\\\":[{\\\"fieldLabel\\\":\\\"commit\\\",\\\"placeholder\\\":\\\"commit message\\\"}]},\\\"options\\\":{\\\"appendAttribution\\\":false}},\\\"type\\\":\\\"n8n-nodes-base.formTrigger\\\",\\\"typeVersion\\\":2.2,\\\"position\\\":[-200,320],\\\"id\\\":\\\"776a4d30-e464-48a9-b216-a4e8c1af0ace\\\",\\\"name\\\":\\\"On form submission\\\",\\\"webhookId\\\":\\\"550c2e93-fff9-455f-8d23-6f3edd50cd37\\\"}],\\\"connections\\\":{\\\"Set date\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"Format date\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"Format date\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"Set commit date\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"Set commit date\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"List files from repository [GITHUB]\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"List files from repository [GITHUB]\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"Combine file names [GITHUB]\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"Combine file names [GITHUB]\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"Retrieve workflows [N8N]\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"Retrieve workflows [N8N]\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"Move JSON to binary\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"Move JSON to binary\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"Split to single items\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"Split to single items\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"Check if file exists in repository\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"Check if file exists in repository\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"Update file [GITHUB]\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}],[{\\\"node\\\":\\\"Upload file [GITHUB]\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"Update file [GITHUB]\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"Split to single items\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"Upload file [GITHUB]\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"Split to single items\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"git_repos\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"Set date\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"On form submission\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"git_repos\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]}},\\\"settings\\\":{\\\"executionOrder\\\":\\\"v1\\\"},\\\"staticData\\\":null,\\\"meta\\\":{\\\"templateCredsSetupCompleted\\\":true},\\\"pinData\\\":{},\\\"versionId\\\":\\\"77892bc5-a753-4881-b096-5a27e642bbfb\\\",\\\"triggerCount\\\":2,\\\"tags\\\":[]}\",\"current\":{\"createdAt\":\"2025-04-10T09:48:57.979Z\",\"updatedAt\":\"2025-04-14T21:28:00.000Z\",\"id\":\"fDa7nEW5baBLlB7v\",\"name\":\"My workflow\",\"active\":true,\"nodes\":[{\"parameters\":{\"promptType\":\"define\",\"text\":\"={{ $json.chatInput }}\",\"options\":{\"systemMessage\":\"Tu est un \"}},\"type\":\"@n8n/n8n-nodes-langchain.agent\",\"typeVersion\":1.8,\"position\":[640,-440],\"id\":\"54a76046-c57e-47b4-bfc3-9e95564ff64c\",\"name\":\"AI Agent\"},{\"parameters\":{\"model\":{\"__rl\":true,\"mode\":\"list\",\"value\":\"gpt-4o-mini\"},\"options\":{}},\"type\":\"@n8n/n8n-nodes-langchain.lmChatOpenAi\",\"typeVersion\":1.2,\"position\":[640,-240],\"id\":\"441cead4-2695-49cc-8c78-56ed70f60e27\",\"name\":\"OpenAI Chat Model\",\"credentials\":{\"openAiApi\":{\"id\":\"WERJW5onaUjM7N9O\",\"name\":\"OpenAi account\"}}},{\"parameters\":{},\"type\":\"@n8n/n8n-nodes-langchain.memoryBufferWindow\",\"typeVersion\":1.3,\"position\":[760,-220],\"id\":\"c8d91295-55ed-4fa2-9f53-df0c007eb42d\",\"name\":\"Simple Memory\"},{\"parameters\":{\"resource\":\"message\",\"guildId\":{\"__rl\":true,\"value\":\"={{ $('Format message json').item.json.body.guild.id }}\",\"mode\":\"id\"},\"channelId\":{\"__rl\":true,\"value\":\"={{ $('Format message json').item.json.body.channel.id }}\",\"mode\":\"id\"},\"content\":\"={{ $('AI Agent').item.json.output }}\",\"options\":{}},\"type\":\"n8n-nodes-base.discord\",\"typeVersion\":2,\"position\":[1020,-440],\"id\":\"5e6e055d-6898-407d-a149-8156e11ead4d\",\"name\":\"Discord1\",\"webhookId\":\"ffc61cd9-b507-4df5-858a-cad19890d8e5\",\"credentials\":{\"discordBotApi\":{\"id\":\"KPvBm5QqRsDAy08Q\",\"name\":\"Discord Bot account\"}}},{\"parameters\":{\"operation\":\"fromJson\",\"destinationKey\":\"=data\",\"options\":{\"encoding\":\"utf8\",\"keepSource\":\"json\"}},\"type\":\"n8n-nodes-base.extractFromFile\",\"typeVersion\":1,\"position\":[440,-40],\"id\":\"e2e5c060-3d21-4255-beb1-7f21ba8302cc\",\"name\":\"Extract from File\"},{\"parameters\":{\"operation\":\"fromJson\",\"destinationKey\":\"=data\",\"options\":{\"encoding\":\"utf8\",\"keepSource\":\"json\"}},\"type\":\"n8n-nodes-base.extractFromFile\",\"typeVersion\":1,\"position\":[440,160],\"id\":\"1c44d3a1-b856-40c7-80d2-1f8eb342b88b\",\"name\":\"Extract from File1\"},{\"parameters\":{\"httpMethod\":\"POST\",\"path\":\"play\",\"options\":{}},\"type\":\"n8n-nodes-base.webhook\",\"typeVersion\":2,\"position\":[200,-440],\"id\":\"2d3a7301-e6f9-49fc-8483-04aec982e3d1\",\"name\":\"Webhook Play\",\"webhookId\":\"1073ea64-cd61-4074-a8de-11c43b5e40a4\",\"notesInFlow\":true,\"notes\":\"/play\"},{\"parameters\":{\"mode\":\"raw\",\"jsonOutput\":\"={\\n  \\\"sessionId\\\": \\\"{{ $json.body.channel.id }}\\\",\\n  \\\"action\\\": \\\"sendMessage\\\",\\n  \\\"chatInput\\\": \\\"{{ $json.body.metadata.originalMessage.content }}\\\"\\n}\\n \",\"includeOtherFields\":true,\"options\":{}},\"type\":\"n8n-nodes-base.set\",\"typeVersion\":3.4,\"position\":[420,-440],\"id\":\"4a30ee11-8b7b-418a-8f5c-27647aff266b\",\"name\":\"Format message json\"},{\"parameters\":{\"multipleMethods\":true,\"httpMethod\":[\"POST\",\"GET\",\"PUT\",\"DELETE\"],\"path\":\"games\",\"options\":{}},\"type\":\"n8n-nodes-base.webhook\",\"typeVersion\":2,\"position\":[20,0],\"id\":\"1a7ee621-9d98-4b16-b65b-4a75b4181efa\",\"name\":\"Webhook Games\",\"webhookId\":\"8eeddfbb-52cb-4c47-977e-10b94e0b88d5\",\"notesInFlow\":true,\"notes\":\"/games\"}],\"connections\":{\"OpenAI Chat Model\":{\"ai_languageModel\":[[{\"node\":\"AI Agent\",\"type\":\"ai_languageModel\",\"index\":0}]]},\"Simple Memory\":{\"ai_memory\":[[{\"node\":\"AI Agent\",\"type\":\"ai_memory\",\"index\":0}]]},\"AI Agent\":{\"main\":[[{\"node\":\"Discord1\",\"type\":\"main\",\"index\":0}]]},\"Webhook Play\":{\"main\":[[{\"node\":\"Format message json\",\"type\":\"main\",\"index\":0}]]},\"Format message json\":{\"main\":[[{\"node\":\"AI Agent\",\"type\":\"main\",\"index\":0}]]},\"Webhook Games\":{\"main\":[[]]}},\"settings\":{\"executionOrder\":\"v1\"},\"staticData\":null,\"meta\":{\"templateCredsSetupCompleted\":true},\"pinData\":{\"Webhook Play\":[{\"json\":{\"headers\":{\"accept\":\"application/json, text/plain, */*\",\"content-type\":\"application/json\",\"user-agent\":\"axios/1.8.4\",\"content-length\":\"429\",\"accept-encoding\":\"gzip, compress, deflate, br\",\"host\":\"n8n:5678\",\"connection\":\"keep-alive\"},\"params\":{},\"query\":{},\"body\":{\"message\":\"test\",\"user\":{\"id\":\"192016054162030594\",\"name\":\"seedess\",\"discriminator\":\"0\"},\"channel\":{\"id\":\"1354834544079011840\"},\"guild\":{\"id\":\"501763051075141633\"},\"timestamp\":1744664878285,\"source\":\"discord\",\"metadata\":{\"originalMessage\":{\"content\":\"test\",\"author\":{\"id\":\"192016054162030594\",\"username\":\"seedess\",\"discriminator\":\"0\"},\"channelId\":\"1354834544079011840\",\"guildId\":\"501763051075141633\",\"timestamp\":1744664878285}}},\"webhookUrl\":\"http://localhost:5678/webhook/play\",\"executionMode\":\"production\"}}]},\"versionId\":\"e4802da8-b7a5-4849-bda6-1b9435002fec\",\"triggerCount\":5,\"tags\":[]},\"git\":{\"createdAt\":\"2025-04-15T17:05:10.097Z\",\"updatedAt\":\"2025-04-15T19:28:07.000Z\",\"id\":\"85CgQx8aaxOKesc5\",\"name\":\"git\",\"active\":true,\"nodes\":[{\"parameters\":{\"options\":{}},\"id\":\"74b1d12a-1953-4e47-b69c-c08ef5c2c7c2\",\"name\":\"Set date\",\"type\":\"n8n-nodes-base.dateTime\",\"typeVersion\":2,\"position\":[200,320]},{\"parameters\":{\"operation\":\"formatDate\",\"date\":\"={{ $json.currentDate }}\",\"format\":\"custom\",\"customFormat\":\"dd-MM-yyyy/H:mm\",\"options\":{}},\"id\":\"a45a97bb-c84c-4837-96f0-e378048b25b4\",\"name\":\"Format date\",\"type\":\"n8n-nodes-base.dateTime\",\"typeVersion\":2,\"position\":[400,320]},{\"parameters\":{\"keepOnlySet\":true,\"values\":{\"string\":[{\"name\":\"commitDate\",\"value\":\"={{ $json.formattedDate }}\"}]},\"options\":{}},\"id\":\"4e0cc69d-8095-4e95-883d-9e918153e795\",\"name\":\"Set commit date\",\"type\":\"n8n-nodes-base.set\",\"typeVersion\":2,\"position\":[600,320]},{\"parameters\":{\"authentication\":\"oAuth2\",\"resource\":\"file\",\"operation\":\"list\",\"owner\":{\"__rl\":true,\"value\":\"=https://github.com/{{ $('git_repos').item.json.user }}\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}\",\"mode\":\"url\"},\"filePath\":\"={{ $('git_repos').item.json.folder }}\"},\"id\":\"814f5b6c-9a36-4df1-9f34-b84a0f112b5c\",\"name\":\"List files from repository [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[900,320],\"alwaysOutputData\":true,\"credentials\":{\"githubOAuth2Api\":{\"id\":\"SZ9drHPSJtxxDnV3\",\"name\":\"GitHub account\"}}},{\"parameters\":{\"operation\":\"aggregateItems\",\"fieldsToAggregate\":{\"fieldToAggregate\":[{\"fieldToAggregate\":\"name\"}]},\"options\":{}},\"id\":\"dd727c17-0461-44ed-a346-b0a03fb1c4cd\",\"name\":\"Combine file names [GITHUB]\",\"type\":\"n8n-nodes-base.itemLists\",\"typeVersion\":2.1,\"position\":[1220,320]},{\"parameters\":{\"filters\":{},\"requestOptions\":{}},\"id\":\"bf47f944-b0ec-4f40-9ebc-450746c84ec2\",\"name\":\"Retrieve workflows [N8N]\",\"type\":\"n8n-nodes-base.n8n\",\"typeVersion\":1,\"position\":[1420,320],\"credentials\":{\"n8nApi\":{\"id\":\"Vr1cbGSerVjbjeY5\",\"name\":\"n8n account\"}}},{\"parameters\":{\"mode\":\"jsonToBinary\",\"options\":{\"fileName\":\"={{ $json.name.replace(/\\\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json\"}},\"id\":\"f04e7704-8ffd-478d-bce3-43da7c68e8a9\",\"name\":\"Move JSON to binary\",\"type\":\"n8n-nodes-base.moveBinaryData\",\"typeVersion\":1,\"position\":[1620,320]},{\"parameters\":{\"batchSize\":1,\"options\":{}},\"id\":\"eef64228-501a-469a-b5cf-549d8b834a79\",\"name\":\"Split to single items\",\"type\":\"n8n-nodes-base.splitInBatches\",\"typeVersion\":2,\"position\":[1860,320]},{\"parameters\":{\"conditions\":{\"string\":[{\"value1\":\"={{ $node['Combine file names [GITHUB]'].json.name }}\",\"operation\":\"contains\",\"value2\":\"={{ $binary.data.fileName }}\"}]}},\"id\":\"8a85300d-23b0-4302-b729-ee5f46622ef3\",\"name\":\"Check if file exists in repository\",\"type\":\"n8n-nodes-base.if\",\"typeVersion\":1,\"position\":[2100,240]},{\"parameters\":{\"authentication\":\"oAuth2\",\"resource\":\"file\",\"operation\":\"edit\",\"owner\":{\"__rl\":true,\"value\":\"=https://github.com/{{ $('git_repos').item.json.user }}\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}\",\"mode\":\"url\"},\"filePath\":\"={{ $('git_repos').item.json.folder }}/{{ $binary.data.fileName }}\",\"binaryData\":true,\"commitMessage\":\"=backup-{{ $node['Set commit date'].json.commitDate }}\"},\"id\":\"773a0cb7-42ee-462f-96c8-fa9e017f3bf1\",\"name\":\"Update file [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[2320,40],\"credentials\":{\"githubOAuth2Api\":{\"id\":\"SZ9drHPSJtxxDnV3\",\"name\":\"GitHub account\"}}},{\"parameters\":{\"authentication\":\"oAuth2\",\"resource\":\"file\",\"owner\":{\"__rl\":true,\"value\":\"=https://github.com/{{ $('git_repos').item.json.user }}\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}\",\"mode\":\"url\"},\"filePath\":\"={{ $('git_repos').item.json.folder }}/{{ $binary.data.fileName }}\",\"binaryData\":true,\"commitMessage\":\"=backup-{{ $node['Set commit date'].json.commitDate }}\"},\"id\":\"1fbeb657-6fca-4fce-b46b-222c32f00291\",\"name\":\"Upload file [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[2320,440],\"credentials\":{\"githubOAuth2Api\":{\"id\":\"SZ9drHPSJtxxDnV3\",\"name\":\"GitHub account\"}}},{\"parameters\":{\"content\":\"## Set and format date/time\\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.\",\"height\":299,\"width\":585},\"id\":\"98a24117-37d6-49ac-809d-21618d9f8826\",\"name\":\"Sticky Note1\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[160,180]},{\"parameters\":{\"content\":\"## Make a list of existing files\\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \\\"IF\\\" node (later in workflow) to check whether the backup files should be created or updated.\",\"height\":319,\"width\":390},\"id\":\"7310513d-7957-41d4-907b-4d183068356b\",\"name\":\"Sticky Note2\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[760,180]},{\"parameters\":{\"content\":\"## Retrieve workflows\\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**\",\"height\":319,\"width\":384},\"id\":\"4a885de8-8f36-421f-a8b7-bbee36afeaa7\",\"name\":\"Sticky Note3\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[1180,180]},{\"parameters\":{\"mode\":\"raw\",\"jsonOutput\":\"{\\n  \\\"user\\\": \\\"CyrilDenoyelle\\\",\\n  \\\"repos\\\": \\\"n8n_game_master_ai\\\",\\n  \\\"folder\\\": \\\"workflows\\\"\\n}\",\"includeOtherFields\":true,\"options\":{}},\"type\":\"n8n-nodes-base.set\",\"typeVersion\":3.4,\"position\":[20,320],\"id\":\"06743341-2cde-4458-ba68-5b018c44dfd0\",\"name\":\"git_repos\"},{\"parameters\":{\"formTitle\":\"Commit\",\"formFields\":{\"values\":[{\"fieldLabel\":\"commit\",\"placeholder\":\"commit message\"}]},\"options\":{\"appendAttribution\":false}},\"type\":\"n8n-nodes-base.formTrigger\",\"typeVersion\":2.2,\"position\":[-200,320],\"id\":\"776a4d30-e464-48a9-b216-a4e8c1af0ace\",\"name\":\"On form submission\",\"webhookId\":\"550c2e93-fff9-455f-8d23-6f3edd50cd37\"}],\"connections\":{\"Set date\":{\"main\":[[{\"node\":\"Format date\",\"type\":\"main\",\"index\":0}]]},\"Format date\":{\"main\":[[{\"node\":\"Set commit date\",\"type\":\"main\",\"index\":0}]]},\"Set commit date\":{\"main\":[[{\"node\":\"List files from repository [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"List files from repository [GITHUB]\":{\"main\":[[{\"node\":\"Combine file names [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"Combine file names [GITHUB]\":{\"main\":[[{\"node\":\"Retrieve workflows [N8N]\",\"type\":\"main\",\"index\":0}]]},\"Retrieve workflows [N8N]\":{\"main\":[[{\"node\":\"Move JSON to binary\",\"type\":\"main\",\"index\":0}]]},\"Move JSON to binary\":{\"main\":[[{\"node\":\"Split to single items\",\"type\":\"main\",\"index\":0}]]},\"Split to single items\":{\"main\":[[{\"node\":\"Check if file exists in repository\",\"type\":\"main\",\"index\":0}]]},\"Check if file exists in repository\":{\"main\":[[{\"node\":\"Update file [GITHUB]\",\"type\":\"main\",\"index\":0}],[{\"node\":\"Upload file [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"Update file [GITHUB]\":{\"main\":[[{\"node\":\"Split to single items\",\"type\":\"main\",\"index\":0}]]},\"Upload file [GITHUB]\":{\"main\":[[{\"node\":\"Split to single items\",\"type\":\"main\",\"index\":0}]]},\"git_repos\":{\"main\":[[{\"node\":\"Set date\",\"type\":\"main\",\"index\":0}]]},\"On form submission\":{\"main\":[[{\"node\":\"git_repos\",\"type\":\"main\",\"index\":0}]]}},\"settings\":{\"executionOrder\":\"v1\"},\"staticData\":null,\"meta\":{\"templateCredsSetupCompleted\":true},\"pinData\":{},\"versionId\":\"77892bc5-a753-4881-b096-5a27e642bbfb\",\"triggerCount\":2,\"tags\":[]}}","current":{"createdAt":"2025-04-15T17:05:10.097Z","updatedAt":"2025-04-16T00:41:52.000Z","id":"85CgQx8aaxOKesc5","name":"git","active":true,"nodes":[{"parameters":{"options":{}},"id":"74b1d12a-1953-4e47-b69c-c08ef5c2c7c2","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[200,320]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"a45a97bb-c84c-4837-96f0-e378048b25b4","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[400,320]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"4e0cc69d-8095-4e95-883d-9e918153e795","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[600,320]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').item.json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').item.json.folder }}"},"id":"814f5b6c-9a36-4df1-9f34-b84a0f112b5c","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[900,320],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"dd727c17-0461-44ed-a346-b0a03fb1c4cd","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1220,320]},{"parameters":{"filters":{},"requestOptions":{}},"id":"bf47f944-b0ec-4f40-9ebc-450746c84ec2","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1420,320],"credentials":{"n8nApi":{"id":"Vr1cbGSerVjbjeY5","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"f04e7704-8ffd-478d-bce3-43da7c68e8a9","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1620,320]},{"parameters":{"batchSize":1,"options":{}},"id":"eef64228-501a-469a-b5cf-549d8b834a79","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1860,320]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"8a85300d-23b0-4302-b729-ee5f46622ef3","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[2100,240]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').item.json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').item.json.folder }}/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"773a0cb7-42ee-462f-96c8-fa9e017f3bf1","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2320,40],"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').item.json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').item.json.folder }}/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"1fbeb657-6fca-4fce-b46b-222c32f00291","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2320,440],"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":299,"width":585},"id":"98a24117-37d6-49ac-809d-21618d9f8826","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,180]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":319,"width":390},"id":"7310513d-7957-41d4-907b-4d183068356b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[760,180]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":319,"width":384},"id":"4a885de8-8f36-421f-a8b7-bbee36afeaa7","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1180,180]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"user\": \"CyrilDenoyelle\",\n  \"repos\": \"n8n_game_master_ai\",\n  \"folder\": \"workflows\"\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[20,320],"id":"06743341-2cde-4458-ba68-5b018c44dfd0","name":"git_repos"},{"parameters":{"formTitle":"Commitdd","formFields":{"values":[{"fieldLabel":"commit","placeholder":"commit message"}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-200,320],"id":"776a4d30-e464-48a9-b216-a4e8c1af0ace","name":"On form submission","webhookId":"550c2e93-fff9-455f-8d23-6f3edd50cd37"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"git_repos":{"main":[[{"node":"Set date","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"git_repos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f8d73bf9-7b8e-4059-a6c6-31f9430a7024","triggerCount":2,"tags":[]},"git":{"data":"{\"createdAt\":\"2025-04-15T17:05:10.097Z\",\"updatedAt\":\"2025-04-15T19:28:07.000Z\",\"id\":\"85CgQx8aaxOKesc5\",\"name\":\"git\",\"active\":true,\"nodes\":[{\"parameters\":{\"options\":{}},\"id\":\"74b1d12a-1953-4e47-b69c-c08ef5c2c7c2\",\"name\":\"Set date\",\"type\":\"n8n-nodes-base.dateTime\",\"typeVersion\":2,\"position\":[200,320]},{\"parameters\":{\"operation\":\"formatDate\",\"date\":\"={{ $json.currentDate }}\",\"format\":\"custom\",\"customFormat\":\"dd-MM-yyyy/H:mm\",\"options\":{}},\"id\":\"a45a97bb-c84c-4837-96f0-e378048b25b4\",\"name\":\"Format date\",\"type\":\"n8n-nodes-base.dateTime\",\"typeVersion\":2,\"position\":[400,320]},{\"parameters\":{\"keepOnlySet\":true,\"values\":{\"string\":[{\"name\":\"commitDate\",\"value\":\"={{ $json.formattedDate }}\"}]},\"options\":{}},\"id\":\"4e0cc69d-8095-4e95-883d-9e918153e795\",\"name\":\"Set commit date\",\"type\":\"n8n-nodes-base.set\",\"typeVersion\":2,\"position\":[600,320]},{\"parameters\":{\"authentication\":\"oAuth2\",\"resource\":\"file\",\"operation\":\"list\",\"owner\":{\"__rl\":true,\"value\":\"=https://github.com/{{ $('git_repos').item.json.user }}\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}\",\"mode\":\"url\"},\"filePath\":\"={{ $('git_repos').item.json.folder }}\"},\"id\":\"814f5b6c-9a36-4df1-9f34-b84a0f112b5c\",\"name\":\"List files from repository [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[900,320],\"alwaysOutputData\":true,\"credentials\":{\"githubOAuth2Api\":{\"id\":\"SZ9drHPSJtxxDnV3\",\"name\":\"GitHub account\"}}},{\"parameters\":{\"operation\":\"aggregateItems\",\"fieldsToAggregate\":{\"fieldToAggregate\":[{\"fieldToAggregate\":\"name\"}]},\"options\":{}},\"id\":\"dd727c17-0461-44ed-a346-b0a03fb1c4cd\",\"name\":\"Combine file names [GITHUB]\",\"type\":\"n8n-nodes-base.itemLists\",\"typeVersion\":2.1,\"position\":[1220,320]},{\"parameters\":{\"filters\":{},\"requestOptions\":{}},\"id\":\"bf47f944-b0ec-4f40-9ebc-450746c84ec2\",\"name\":\"Retrieve workflows [N8N]\",\"type\":\"n8n-nodes-base.n8n\",\"typeVersion\":1,\"position\":[1420,320],\"credentials\":{\"n8nApi\":{\"id\":\"Vr1cbGSerVjbjeY5\",\"name\":\"n8n account\"}}},{\"parameters\":{\"mode\":\"jsonToBinary\",\"options\":{\"fileName\":\"={{ $json.name.replace(/\\\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json\"}},\"id\":\"f04e7704-8ffd-478d-bce3-43da7c68e8a9\",\"name\":\"Move JSON to binary\",\"type\":\"n8n-nodes-base.moveBinaryData\",\"typeVersion\":1,\"position\":[1620,320]},{\"parameters\":{\"batchSize\":1,\"options\":{}},\"id\":\"eef64228-501a-469a-b5cf-549d8b834a79\",\"name\":\"Split to single items\",\"type\":\"n8n-nodes-base.splitInBatches\",\"typeVersion\":2,\"position\":[1860,320]},{\"parameters\":{\"conditions\":{\"string\":[{\"value1\":\"={{ $node['Combine file names [GITHUB]'].json.name }}\",\"operation\":\"contains\",\"value2\":\"={{ $binary.data.fileName }}\"}]}},\"id\":\"8a85300d-23b0-4302-b729-ee5f46622ef3\",\"name\":\"Check if file exists in repository\",\"type\":\"n8n-nodes-base.if\",\"typeVersion\":1,\"position\":[2100,240]},{\"parameters\":{\"authentication\":\"oAuth2\",\"resource\":\"file\",\"operation\":\"edit\",\"owner\":{\"__rl\":true,\"value\":\"=https://github.com/{{ $('git_repos').item.json.user }}\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}\",\"mode\":\"url\"},\"filePath\":\"={{ $('git_repos').item.json.folder }}/{{ $binary.data.fileName }}\",\"binaryData\":true,\"commitMessage\":\"=backup-{{ $node['Set commit date'].json.commitDate }}\"},\"id\":\"773a0cb7-42ee-462f-96c8-fa9e017f3bf1\",\"name\":\"Update file [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[2320,40],\"credentials\":{\"githubOAuth2Api\":{\"id\":\"SZ9drHPSJtxxDnV3\",\"name\":\"GitHub account\"}}},{\"parameters\":{\"authentication\":\"oAuth2\",\"resource\":\"file\",\"owner\":{\"__rl\":true,\"value\":\"=https://github.com/{{ $('git_repos').item.json.user }}\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}\",\"mode\":\"url\"},\"filePath\":\"={{ $('git_repos').item.json.folder }}/{{ $binary.data.fileName }}\",\"binaryData\":true,\"commitMessage\":\"=backup-{{ $node['Set commit date'].json.commitDate }}\"},\"id\":\"1fbeb657-6fca-4fce-b46b-222c32f00291\",\"name\":\"Upload file [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[2320,440],\"credentials\":{\"githubOAuth2Api\":{\"id\":\"SZ9drHPSJtxxDnV3\",\"name\":\"GitHub account\"}}},{\"parameters\":{\"content\":\"## Set and format date/time\\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.\",\"height\":299,\"width\":585},\"id\":\"98a24117-37d6-49ac-809d-21618d9f8826\",\"name\":\"Sticky Note1\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[160,180]},{\"parameters\":{\"content\":\"## Make a list of existing files\\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \\\"IF\\\" node (later in workflow) to check whether the backup files should be created or updated.\",\"height\":319,\"width\":390},\"id\":\"7310513d-7957-41d4-907b-4d183068356b\",\"name\":\"Sticky Note2\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[760,180]},{\"parameters\":{\"content\":\"## Retrieve workflows\\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**\",\"height\":319,\"width\":384},\"id\":\"4a885de8-8f36-421f-a8b7-bbee36afeaa7\",\"name\":\"Sticky Note3\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[1180,180]},{\"parameters\":{\"mode\":\"raw\",\"jsonOutput\":\"{\\n  \\\"user\\\": \\\"CyrilDenoyelle\\\",\\n  \\\"repos\\\": \\\"n8n_game_master_ai\\\",\\n  \\\"folder\\\": \\\"workflows\\\"\\n}\",\"includeOtherFields\":true,\"options\":{}},\"type\":\"n8n-nodes-base.set\",\"typeVersion\":3.4,\"position\":[20,320],\"id\":\"06743341-2cde-4458-ba68-5b018c44dfd0\",\"name\":\"git_repos\"},{\"parameters\":{\"formTitle\":\"Commit\",\"formFields\":{\"values\":[{\"fieldLabel\":\"commit\",\"placeholder\":\"commit message\"}]},\"options\":{\"appendAttribution\":false}},\"type\":\"n8n-nodes-base.formTrigger\",\"typeVersion\":2.2,\"position\":[-200,320],\"id\":\"776a4d30-e464-48a9-b216-a4e8c1af0ace\",\"name\":\"On form submission\",\"webhookId\":\"550c2e93-fff9-455f-8d23-6f3edd50cd37\"}],\"connections\":{\"Set date\":{\"main\":[[{\"node\":\"Format date\",\"type\":\"main\",\"index\":0}]]},\"Format date\":{\"main\":[[{\"node\":\"Set commit date\",\"type\":\"main\",\"index\":0}]]},\"Set commit date\":{\"main\":[[{\"node\":\"List files from repository [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"List files from repository [GITHUB]\":{\"main\":[[{\"node\":\"Combine file names [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"Combine file names [GITHUB]\":{\"main\":[[{\"node\":\"Retrieve workflows [N8N]\",\"type\":\"main\",\"index\":0}]]},\"Retrieve workflows [N8N]\":{\"main\":[[{\"node\":\"Move JSON to binary\",\"type\":\"main\",\"index\":0}]]},\"Move JSON to binary\":{\"main\":[[{\"node\":\"Split to single items\",\"type\":\"main\",\"index\":0}]]},\"Split to single items\":{\"main\":[[{\"node\":\"Check if file exists in repository\",\"type\":\"main\",\"index\":0}]]},\"Check if file exists in repository\":{\"main\":[[{\"node\":\"Update file [GITHUB]\",\"type\":\"main\",\"index\":0}],[{\"node\":\"Upload file [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"Update file [GITHUB]\":{\"main\":[[{\"node\":\"Split to single items\",\"type\":\"main\",\"index\":0}]]},\"Upload file [GITHUB]\":{\"main\":[[{\"node\":\"Split to single items\",\"type\":\"main\",\"index\":0}]]},\"git_repos\":{\"main\":[[{\"node\":\"Set date\",\"type\":\"main\",\"index\":0}]]},\"On form submission\":{\"main\":[[{\"node\":\"git_repos\",\"type\":\"main\",\"index\":0}]]}},\"settings\":{\"executionOrder\":\"v1\"},\"staticData\":null,\"meta\":{\"templateCredsSetupCompleted\":true},\"pinData\":{},\"versionId\":\"77892bc5-a753-4881-b096-5a27e642bbfb\",\"triggerCount\":2,\"tags\":[]}","current":{"createdAt":"2025-04-10T09:48:57.979Z","updatedAt":"2025-04-14T21:28:00.000Z","id":"fDa7nEW5baBLlB7v","name":"My workflow","active":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"Tu est un "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[640,-440],"id":"54a76046-c57e-47b4-bfc3-9e95564ff64c","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[640,-240],"id":"441cead4-2695-49cc-8c78-56ed70f60e27","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WERJW5onaUjM7N9O","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[760,-220],"id":"c8d91295-55ed-4fa2-9f53-df0c007eb42d","name":"Simple Memory"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"={{ $('Format message json').item.json.body.guild.id }}","mode":"id"},"channelId":{"__rl":true,"value":"={{ $('Format message json').item.json.body.channel.id }}","mode":"id"},"content":"={{ $('AI Agent').item.json.output }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1020,-440],"id":"5e6e055d-6898-407d-a149-8156e11ead4d","name":"Discord1","webhookId":"ffc61cd9-b507-4df5-858a-cad19890d8e5","credentials":{"discordBotApi":{"id":"KPvBm5QqRsDAy08Q","name":"Discord Bot account"}}},{"parameters":{"operation":"fromJson","destinationKey":"=data","options":{"encoding":"utf8","keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[440,-40],"id":"e2e5c060-3d21-4255-beb1-7f21ba8302cc","name":"Extract from File"},{"parameters":{"operation":"fromJson","destinationKey":"=data","options":{"encoding":"utf8","keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[440,160],"id":"1c44d3a1-b856-40c7-80d2-1f8eb342b88b","name":"Extract from File1"},{"parameters":{"httpMethod":"POST","path":"play","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,-440],"id":"2d3a7301-e6f9-49fc-8483-04aec982e3d1","name":"Webhook Play","webhookId":"1073ea64-cd61-4074-a8de-11c43b5e40a4","notesInFlow":true,"notes":"/play"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"sessionId\": \"{{ $json.body.channel.id }}\",\n  \"action\": \"sendMessage\",\n  \"chatInput\": \"{{ $json.body.metadata.originalMessage.content }}\"\n}\n ","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,-440],"id":"4a30ee11-8b7b-418a-8f5c-27647aff266b","name":"Format message json"},{"parameters":{"multipleMethods":true,"httpMethod":["POST","GET","PUT","DELETE"],"path":"games","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[20,0],"id":"1a7ee621-9d98-4b16-b65b-4a75b4181efa","name":"Webhook Games","webhookId":"8eeddfbb-52cb-4c47-977e-10b94e0b88d5","notesInFlow":true,"notes":"/games"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Discord1","type":"main","index":0}]]},"Webhook Play":{"main":[[{"node":"Format message json","type":"main","index":0}]]},"Format message json":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Webhook Games":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook Play":[{"json":{"headers":{"accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"axios/1.8.4","content-length":"429","accept-encoding":"gzip, compress, deflate, br","host":"n8n:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"message":"test","user":{"id":"192016054162030594","name":"seedess","discriminator":"0"},"channel":{"id":"1354834544079011840"},"guild":{"id":"501763051075141633"},"timestamp":1744664878285,"source":"discord","metadata":{"originalMessage":{"content":"test","author":{"id":"192016054162030594","username":"seedess","discriminator":"0"},"channelId":"1354834544079011840","guildId":"501763051075141633","timestamp":1744664878285}}},"webhookUrl":"http://localhost:5678/webhook/play","executionMode":"production"}}]},"versionId":"e4802da8-b7a5-4849-bda6-1b9435002fec","triggerCount":5,"tags":[]},"git":{"createdAt":"2025-04-15T17:05:10.097Z","updatedAt":"2025-04-15T19:28:07.000Z","id":"85CgQx8aaxOKesc5","name":"git","active":true,"nodes":[{"parameters":{"options":{}},"id":"74b1d12a-1953-4e47-b69c-c08ef5c2c7c2","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[200,320]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"a45a97bb-c84c-4837-96f0-e378048b25b4","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[400,320]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"4e0cc69d-8095-4e95-883d-9e918153e795","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[600,320]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').item.json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').item.json.folder }}"},"id":"814f5b6c-9a36-4df1-9f34-b84a0f112b5c","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[900,320],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"dd727c17-0461-44ed-a346-b0a03fb1c4cd","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1220,320]},{"parameters":{"filters":{},"requestOptions":{}},"id":"bf47f944-b0ec-4f40-9ebc-450746c84ec2","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1420,320],"credentials":{"n8nApi":{"id":"Vr1cbGSerVjbjeY5","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"f04e7704-8ffd-478d-bce3-43da7c68e8a9","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1620,320]},{"parameters":{"batchSize":1,"options":{}},"id":"eef64228-501a-469a-b5cf-549d8b834a79","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1860,320]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"8a85300d-23b0-4302-b729-ee5f46622ef3","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[2100,240]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').item.json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').item.json.folder }}/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"773a0cb7-42ee-462f-96c8-fa9e017f3bf1","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2320,40],"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').item.json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').item.json.folder }}/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"1fbeb657-6fca-4fce-b46b-222c32f00291","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2320,440],"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":299,"width":585},"id":"98a24117-37d6-49ac-809d-21618d9f8826","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,180]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":319,"width":390},"id":"7310513d-7957-41d4-907b-4d183068356b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[760,180]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":319,"width":384},"id":"4a885de8-8f36-421f-a8b7-bbee36afeaa7","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1180,180]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"user\": \"CyrilDenoyelle\",\n  \"repos\": \"n8n_game_master_ai\",\n  \"folder\": \"workflows\"\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[20,320],"id":"06743341-2cde-4458-ba68-5b018c44dfd0","name":"git_repos"},{"parameters":{"formTitle":"Commit","formFields":{"values":[{"fieldLabel":"commit","placeholder":"commit message"}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-200,320],"id":"776a4d30-e464-48a9-b216-a4e8c1af0ace","name":"On form submission","webhookId":"550c2e93-fff9-455f-8d23-6f3edd50cd37"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"git_repos":{"main":[[{"node":"Set date","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"git_repos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"77892bc5-a753-4881-b096-5a27e642bbfb","triggerCount":2,"tags":[]}}}