workflows/gamemasterai.json
{
  "createdAt": "2025-04-30T21:16:24.222Z",
  "updatedAt": "2025-05-08T14:33:22.000Z",
  "id": "wj7RaQrMYuhNu9Ry",
  "name": "GameMasterAi",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "Tu es un Maître du Jeu (MJ) pour une partie de jeu de rôle sur table dans un univers de fantasy.\n\nTon rôle est de :\n- Décrire l’environnement, les situations, les personnages non-joueurs (PNJ).\n- Poser des choix aux joueurs ou leur demander leurs actions.\n- Réagir aux décisions des joueurs avec cohérence et imagination.\n- Faire progresser l’histoire de manière fluide et immersive.\n- Ajouter parfois des défis, des mystères, des combats ou des dilemmes.\n\nUtilise un ton narratif immersif, vivant et engageant.\n\nNe prends pas de décisions à la place des joueurs. Pose des questions s’il faut clarifier une intention.\n\nTu peux inventer :\n- Des lieux (villes, forêts, ruines…)\n- Des créatures (amicales ou hostiles)\n- Des objets étranges ou magiques\n- Des événements ou retournements\n\nCommence par une courte introduction du/des personnage(s) joueur(s).\nPuis met les joueurs directement dans l'action.\n\n# Outils:\n## mémoire\nutilise cet outil pour mettre des choses en mémoire",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        260,
        530
      ],
      "id": "54a76046-c57e-47b4-bfc3-9e95564ff64c",
      "name": "AI Agent",
      "notesInFlow": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        740
      ],
      "id": "441cead4-2695-49cc-8c78-56ed70f60e27",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WERJW5onaUjM7N9O",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Format message json').item.json.body.guild.id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Format message json').item.json.body.channel.id }}",
          "mode": "id"
        },
        "content": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        856,
        455
      ],
      "id": "5e6e055d-6898-407d-a149-8156e11ead4d",
      "name": "Discord1",
      "webhookId": "ffc61cd9-b507-4df5-858a-cad19890d8e5",
      "credentials": {
        "discordBotApi": {
          "id": "KPvBm5QqRsDAy08Q",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "play",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        455
      ],
      "id": "2d3a7301-e6f9-49fc-8483-04aec982e3d1",
      "name": "Webhook Play",
      "webhookId": "1073ea64-cd61-4074-a8de-11c43b5e40a4",
      "notesInFlow": true,
      "notes": "/play"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"sessionId\": \"{{ $json.body.channel.id }}\",\n  \"action\": \"sendMessage\",\n  \"chatInput\": \"{{ $json.body.metadata.originalMessage.content }}\"\n}\n ",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        455
      ],
      "id": "4a30ee11-8b7b-418a-8f5c-27647aff266b",
      "name": "Format message json"
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "responseMode": "responseNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        680
      ],
      "id": "2d7da65c-799f-4522-8d4f-c26adce58e15",
      "name": "When chat message received",
      "webhookId": "df274727-a9d7-4772-8d87-64485a0ba77b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "31973dc9-1622-45bb-9cdd-9af1c2a0a98b",
              "leftValue": "={{ $('Webhook Play') }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        636,
        530
      ],
      "id": "a0830144-ff87-45f3-b8e9-ce8baac2a225",
      "name": "If discord message",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        856,
        655
      ],
      "id": "607f4cde-b447-4c68-a452-1865036a35c9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        760
      ],
      "id": "c8d91295-55ed-4fa2-9f53-df0c007eb42d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YyqQZpBGsGmZLS5E",
          "mode": "list",
          "cachedResultName": "GetOrCreate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "folderName": "GameMasterAi",
            "fileName": "={{ $json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "folderName",
              "displayName": "folderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -180,
        380
      ],
      "id": "4fe560f1-0be9-4402-9cc3-9b4acbbc6fc5",
      "name": "getOrCreate"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        40,
        530
      ],
      "id": "ee394571-3376-42da-96bc-fe922f582b83",
      "name": "Merge"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If discord message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Play": {
      "main": [
        [
          {
            "node": "Format message json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format message json": {
      "main": [
        [
          {
            "node": "getOrCreate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "getOrCreate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If discord message": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "getOrCreate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8ecc1257-545a-4e9c-ad1a-02a32bd4326d",
  "triggerCount": 2,
  "tags": [],
  "fileName": "gamemasterai.json",
  "option": "gamemasterai.json"
}