workflows/getorcreategame.json
{
  "createdAt": "2025-05-08T12:13:49.437Z",
  "updatedAt": "2025-05-08T14:35:18.000Z",
  "id": "YyqQZpBGsGmZLS5E",
  "name": "GetOrCreateGame",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.folderName }}",
        "limit": 10,
        "filter": {
          "folderId": {
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1360,
        290
      ],
      "id": "23604a69-520f-462d-8e75-6d09a648ac4f",
      "name": "Get Folder",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ph4PvkddLG1s28Hi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.folderName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -260,
        440
      ],
      "id": "fc40ac8e-ebd7-4dcd-8681-ea522b824d70",
      "name": "Create Folder",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ph4PvkddLG1s28Hi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -700,
        365
      ],
      "id": "86dc0f62-2b45-4a87-8638-7568275ac1f8",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1140,
        290
      ],
      "id": "01c27067-d5a5-4fbc-9748-fc77bc847882",
      "name": "Limit"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        180,
        215
      ],
      "id": "02d5d102-9e8d-45fc-9e10-c762d8d2d85e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f902f7c7-7c2f-485f-a71c-46083347cc87",
              "leftValue": "={{ $json.folder }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        365
      ],
      "id": "2b8acc47-d398-4128-8a89-42f1883b8973",
      "name": "If folder exist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f902f7c7-7c2f-485f-a71c-46083347cc87",
              "leftValue": "={{ $json.file }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        215
      ],
      "id": "616011c0-e242-4230-b789-0fed1d29707c",
      "name": "If file exist"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"folder\": {\n    \"id\": \"{{ $json.id }}\",\n    \"name\": \"{{ $json.name }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -920,
        290
      ],
      "id": "11f47040-ee9a-403a-abbf-01690631c2c7",
      "name": "Folder"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"file\": {\n    \"id\": \"{{ $json.id }}\",\n    \"name\": \"{{ $json.name }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        140
      ],
      "id": "8f8b5b79-577a-4c1b-a9e0-9fe56a21b2b2",
      "name": "File"
    },
    {
      "parameters": {
        "name": "={{ $('Prepare Json Game Data').item.json.sessionId }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Merge3').item.json.folder.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        540
      ],
      "id": "cff33497-1857-40ed-88d9-fe07008acd73",
      "name": "Create Game Data",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ph4PvkddLG1s28Hi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1060,
        540
      ],
      "id": "94d8d7c0-6a21-46b2-b75e-86b6dd27f994",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        840,
        165
      ],
      "id": "c3e48ff9-70cd-4be1-a658-0646a3b7c7d1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        620,
        165
      ],
      "id": "2d868b52-d540-4ffd-8169-64b542d80a16",
      "name": "Get Game Data",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ph4PvkddLG1s28Hi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"sessionId\": \"{{ $json.fileName }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        465
      ],
      "id": "7aa41928-8155-462c-8270-eee4b5ab7532",
      "name": "Prepare Json Game Data"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"folder\": {\n    \"id\": \"{{ $json.id }}\",\n    \"name\": \"{{ $json.name }}\"\n  }\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        515
      ],
      "id": "1924ba55-86b7-41e0-a58f-bf55007a4d16",
      "name": "Folder1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -40,
        515
      ],
      "id": "007824a4-c7c0-452c-9261-caf1f05a0232",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "={{ $json.folder.id }}",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        620,
        465
      ],
      "id": "330efccf-0004-4d7e-895a-45347be0c95b",
      "name": "Merge3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1500,
        465
      ],
      "id": "f2afe6fc-68d4-4a07-8ff1-30c2f5593ed2",
      "name": "Merge4",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"folderName\": \"a string\",\n  \"fileName\": \"a string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1720,
        420
      ],
      "id": "0b521ae5-b108-4981-9774-ace11cf5634e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.fileName }}",
        "filter": {
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -260,
        140
      ],
      "id": "11db47de-8e7f-489b-bceb-bfd95b278ea4",
      "name": "Get Game File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ph4PvkddLG1s28Hi",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Get Folder": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If folder exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If file exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If folder exist": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get Game File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If file exist": {
      "main": [
        [
          {
            "node": "Get Game Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Folder": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Game Data": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create Game Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Game Data": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Json Game Data": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Folder1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Prepare Json Game Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Game File": {
      "main": [
        [
          {
            "node": "File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        []
      ]
    },
    "Merge4": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "folderName": "GameMasterAi",
          "fileName": "111a43454616494eb945a7aa907cc9f5"
        }
      }
    ]
  },
  "versionId": "4872e5ae-d650-43ac-93aa-a81193b69e3e",
  "triggerCount": 0,
  "tags": [],
  "fileName": "getorcreategame.json",
  "option": "getorcreategame.json"
}