workflows/git-85CgQx8aaxOKesc5.json
{"data":"{\"data\":\"{\\\"createdAt\\\":\\\"2025-04-14T20:16:46.830Z\\\",\\\"updatedAt\\\":\\\"2025-04-14T20:29:44.000Z\\\",\\\"id\\\":\\\"zAUNDWiEgr5YB1l1\\\",\\\"name\\\":\\\"My workflow 2\\\",\\\"active\\\":false,\\\"nodes\\\":[{\\\"parameters\\\":{\\\"events\\\":[\\\"init\\\"]},\\\"type\\\":\\\"n8n-nodes-base.n8nTrigger\\\",\\\"typeVersion\\\":1,\\\"position\\\":[0,0],\\\"id\\\":\\\"58d4f915-1a0b-45e4-8251-028d8a51c352\\\",\\\"name\\\":\\\"n8n Trigger\\\"},{\\\"parameters\\\":{\\\"jsCode\\\":\\\"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\\\\nfor (const item of $input.all()) {\\\\n  item.json.myNewField = 1;\\\\n}\\\\n\\\\nreturn $input.all();\\\"},\\\"type\\\":\\\"n8n-nodes-base.code\\\",\\\"typeVersion\\\":2,\\\"position\\\":[320,20],\\\"id\\\":\\\"92cf2d52-6950-47e8-93de-a6d431dc4043\\\",\\\"name\\\":\\\"Code\\\"}],\\\"connections\\\":{\\\"n8n Trigger\\\":{\\\"main\\\":[[]]}},\\\"settings\\\":{\\\"executionOrder\\\":\\\"v1\\\"},\\\"staticData\\\":null,\\\"meta\\\":{\\\"templateCredsSetupCompleted\\\":true},\\\"pinData\\\":{},\\\"versionId\\\":\\\"686c81fa-b363-4261-8e9f-83694161fe0b\\\",\\\"triggerCount\\\":0,\\\"tags\\\":[]}\",\"current\":{\"createdAt\":\"2025-04-15T19:30:49.651Z\",\"updatedAt\":\"2025-04-16T00:39:19.000Z\",\"id\":\"h4IaVqG7YjldMsXK\",\"name\":\"My workflow 3\",\"active\":true,\"nodes\":[{\"parameters\":{\"options\":{}},\"id\":\"041acaa2-2347-4fa4-8551-745d28e6126c\",\"name\":\"Set date\",\"type\":\"n8n-nodes-base.dateTime\",\"typeVersion\":2,\"position\":[-2500,80]},{\"parameters\":{\"operation\":\"formatDate\",\"date\":\"={{ $json.currentDate }}\",\"format\":\"custom\",\"customFormat\":\"dd-MM-yyyy/H:mm\",\"options\":{}},\"id\":\"8875cf95-83d2-4d27-ba68-b74c876354c8\",\"name\":\"Format date\",\"type\":\"n8n-nodes-base.dateTime\",\"typeVersion\":2,\"position\":[-2300,80]},{\"parameters\":{\"keepOnlySet\":true,\"values\":{\"string\":[{\"name\":\"commitDate\",\"value\":\"={{ $json.formattedDate }}\"}]},\"options\":{}},\"id\":\"a9561742-a7ed-4fa1-bfe4-aa941217a1e5\",\"name\":\"Set commit date\",\"type\":\"n8n-nodes-base.set\",\"typeVersion\":2,\"position\":[-2100,80]},{\"parameters\":{\"authentication\":\"oAuth2\",\"resource\":\"file\",\"operation\":\"list\",\"owner\":{\"__rl\":true,\"value\":\"=https://github.com/{{ $('git_repos').item.json.user }}\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}\",\"mode\":\"url\"},\"filePath\":\"={{ $('git_repos').item.json.folder }}\"},\"id\":\"e34ca03d-cd5a-4d1a-bcfc-87b4b36c44d1\",\"name\":\"List files from repository [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[-1800,80],\"alwaysOutputData\":true,\"credentials\":{\"githubOAuth2Api\":{\"id\":\"SZ9drHPSJtxxDnV3\",\"name\":\"GitHub account\"}}},{\"parameters\":{\"filters\":{},\"requestOptions\":{}},\"id\":\"bc226377-e7e1-4503-9119-642d743f5258\",\"name\":\"Retrieve workflows [N8N]\",\"type\":\"n8n-nodes-base.n8n\",\"typeVersion\":1,\"position\":[-1060,80],\"credentials\":{\"n8nApi\":{\"id\":\"Vr1cbGSerVjbjeY5\",\"name\":\"n8n account\"}}},{\"parameters\":{\"mode\":\"jsonToBinary\",\"options\":{\"fileName\":\"={{ $json.name.replace(/\\\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json\"}},\"id\":\"3d713aec-d785-4c6d-ab9e-fb43c47dc1c0\",\"name\":\"Move JSON to binary\",\"type\":\"n8n-nodes-base.moveBinaryData\",\"typeVersion\":1,\"position\":[-760,80]},{\"parameters\":{\"authentication\":\"oAuth2\",\"resource\":\"file\",\"owner\":{\"__rl\":true,\"value\":\"=https://github.com/{{ $('git_repos').first().json.user }}\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"=https://github.com/CyrilDenoyelle/{{ $('git_repos').first().json.repos }}\",\"mode\":\"url\"},\"filePath\":\"={{ $('git_repos').first().json.folder }}/{{ $binary.data.fileName }}\",\"binaryData\":true,\"commitMessage\":\"=backup-{{ $node['Set commit date'].json.commitDate }}\"},\"id\":\"03f69ebf-8438-4ca8-9c98-6a6250a503ed\",\"name\":\"Upload file [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[80,160],\"credentials\":{\"githubOAuth2Api\":{\"id\":\"SZ9drHPSJtxxDnV3\",\"name\":\"GitHub account\"}}},{\"parameters\":{\"content\":\"## Set and format date/time\\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.\",\"height\":299,\"width\":585},\"id\":\"1fb2e351-0759-49cf-b755-be0385fd0c09\",\"name\":\"Sticky Note1\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[-2540,-60]},{\"parameters\":{\"content\":\"## Make a list of existing files\\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \\\"IF\\\" node (later in workflow) to check whether the backup files should be created or updated.\",\"height\":319,\"width\":390},\"id\":\"9123cff8-6cf1-4d80-bbe4-0501ba394112\",\"name\":\"Sticky Note2\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[-1940,-60]},{\"parameters\":{\"content\":\"## Retrieve workflows\\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**\",\"height\":319,\"width\":384},\"id\":\"ff33f34e-fa5d-4d7f-be78-4937babdf7ce\",\"name\":\"Sticky Note3\",\"type\":\"n8n-nodes-base.stickyNote\",\"typeVersion\":1,\"position\":[-1520,-60]},{\"parameters\":{\"mode\":\"raw\",\"jsonOutput\":\"{\\n  \\\"user\\\": \\\"CyrilDenoyelle\\\",\\n  \\\"repos\\\": \\\"n8n_game_master_ai\\\",\\n  \\\"folder\\\": \\\"workflows\\\"\\n}\",\"includeOtherFields\":true,\"options\":{}},\"type\":\"n8n-nodes-base.set\",\"typeVersion\":3.4,\"position\":[-2740,80],\"id\":\"8429a2ba-08c9-4ae4-b58a-b504b2294b38\",\"name\":\"git_repos\"},{\"parameters\":{\"formTitle\":\"Commit\",\"formFields\":{\"values\":[{\"fieldLabel\":\"commit\",\"placeholder\":\"commit message\"}]},\"options\":{\"appendAttribution\":false}},\"type\":\"n8n-nodes-base.formTrigger\",\"typeVersion\":2.2,\"position\":[-2960,80],\"id\":\"eb1018e2-a3b3-4f7b-a0e6-abfe22d3d542\",\"name\":\"On form submission\",\"webhookId\":\"550c2e93-fff9-455f-8d23-6f3edd50cd37\"},{\"parameters\":{\"authentication\":\"oAuth2\",\"resource\":\"file\",\"operation\":\"edit\",\"owner\":{\"__rl\":true,\"value\":\"=https://github.com/{{ $('git_repos').first().json.user }}\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"=https://github.com/CyrilDenoyelle/{{ $('git_repos').first().json.repos }}\",\"mode\":\"url\"},\"filePath\":\"={{ $('git_repos').first().json.folder }}/{{ $node['If file exist in git'].json.fileName }}\",\"fileContent\":\"={{ $('workflows').item.json.toJsonString() }}\",\"commitMessage\":\"=backup-{{ $('Set commit date').first().json.commitDate }}\"},\"id\":\"ac955b0e-caae-43d2-a098-7d5c8a166b26\",\"name\":\"Update file [GITHUB]\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[1260,-20],\"credentials\":{\"githubOAuth2Api\":{\"id\":\"SZ9drHPSJtxxDnV3\",\"name\":\"GitHub account\"}}},{\"parameters\":{\"conditions\":{\"string\":[{\"value1\":\"={{ $json.currentVersionId }}\",\"operation\":\"notEqual\",\"value2\":\"={{ $json.gitVersionId }}\"}]}},\"id\":\"1b3b1948-d25c-4f9c-81a4-4617772b43bd\",\"name\":\"Check if file changed\",\"type\":\"n8n-nodes-base.if\",\"typeVersion\":1,\"position\":[780,20],\"notes\":\"{{ $json.data?.parseJson().versionId }}\"},{\"parameters\":{\"url\":\"={{ $json.URL }}\",\"options\":{}},\"type\":\"n8n-nodes-base.httpRequest\",\"typeVersion\":4.2,\"position\":[220,-40],\"id\":\"f80860ad-292a-4526-ad05-8eaf5a2d3c21\",\"name\":\"HTTP Request\",\"alwaysOutputData\":false},{\"parameters\":{\"operation\":\"aggregateItems\",\"fieldsToAggregate\":{\"fieldToAggregate\":[{\"fieldToAggregate\":\"name\"}]},\"options\":{}},\"id\":\"de6cb76e-8fa5-409a-9e45-ac9b7a139104\",\"name\":\"Combine file names [GITHUB]\",\"type\":\"n8n-nodes-base.itemLists\",\"typeVersion\":2.1,\"position\":[-1260,80]},{\"parameters\":{\"operation\":\"get\",\"workflowId\":{\"__rl\":true,\"value\":\"fDa7nEW5baBLlB7v\",\"mode\":\"list\",\"cachedResultName\":\"My workflow (#fDa7nEW5baBLlB7v)\"},\"requestOptions\":{}},\"id\":\"94e2be90-059f-48a9-920b-a5bd22fb9080\",\"name\":\"Retrieve workflows [N8N]1\",\"type\":\"n8n-nodes-base.n8n\",\"typeVersion\":1,\"position\":[-1640,580],\"credentials\":{\"n8nApi\":{\"id\":\"Vr1cbGSerVjbjeY5\",\"name\":\"n8n account\"}}},{\"parameters\":{\"url\":\"=https://raw.githubusercontent.com/CyrilDenoyelle/n8n_game_master_ai/main/workflows/{{ $('List files from repository [GITHUB]1').item.binary.data.fileName }}\",\"options\":{}},\"type\":\"n8n-nodes-base.httpRequest\",\"typeVersion\":4.2,\"position\":[-1460,680],\"id\":\"5e1c0578-8f8e-4387-b5fa-88104414f920\",\"name\":\"HTTP Request1\",\"alwaysOutputData\":false},{\"parameters\":{\"mode\":\"raw\",\"jsonOutput\":\"={\\n  \\\"newVersionId\\\": \\\"{{ $json.data.parseJson().versionId }}\\\",\\n\\\"oldVersionId\\\": \\\"{{ $('Retrieve workflows [N8N]1').item.json.versionId }}\\\"\\n}\",\"includeOtherFields\":true,\"options\":{}},\"type\":\"n8n-nodes-base.set\",\"typeVersion\":3.4,\"position\":[-1260,680],\"id\":\"904b4691-94e0-434e-95f4-b20ce7dc23a5\",\"name\":\"versionIds1\"},{\"parameters\":{\"authentication\":\"oAuth2\",\"resource\":\"file\",\"operation\":\"get\",\"owner\":{\"__rl\":true,\"value\":\"=https://github.com/{{ $('git_repos').item.json.user }}\",\"mode\":\"url\"},\"repository\":{\"__rl\":true,\"value\":\"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}\",\"mode\":\"url\"},\"filePath\":\"={{ $('git_repos').item.json.folder }}/my-workflow-2-zAUNDWiEgr5YB1l1.json\",\"additionalParameters\":{}},\"id\":\"983b32e7-bc9f-4032-9043-7217c1b55209\",\"name\":\"List files from repository [GITHUB]1\",\"type\":\"n8n-nodes-base.github\",\"typeVersion\":1,\"position\":[-1940,440],\"alwaysOutputData\":true,\"credentials\":{\"githubOAuth2Api\":{\"id\":\"SZ9drHPSJtxxDnV3\",\"name\":\"GitHub account\"}}},{\"parameters\":{\"mode\":\"raw\",\"jsonOutput\":\"={\\n  \\\"gitVersionId\\\": \\\"{{ $json?.git.versionId }}\\\",\\n  \\\"currentVersionId\\\": \\\"{{ $json.current.versionId }}\\\"\\n}\",\"includeOtherFields\":true,\"options\":{}},\"type\":\"n8n-nodes-base.set\",\"typeVersion\":3.4,\"position\":[540,-40],\"id\":\"742b755c-208a-4b97-a3ec-5e87a8a3d758\",\"name\":\"versionIds\"},{\"parameters\":{\"mode\":\"raw\",\"jsonOutput\":\"={\\n  \\\"URL\\\": \\\"{{ $node['List files from repository [GITHUB]'].json.download_url }}\\\"\\n}\\n\",\"includeOtherFields\":true,\"options\":{}},\"type\":\"n8n-nodes-base.set\",\"typeVersion\":3.4,\"position\":[60,-40],\"id\":\"f339ad8f-fcf4-447d-adef-ffc08bd28e93\",\"name\":\"url\",\"notes\":\"\\\"URL\\\": \\\"{{ $('List files from repository [GITHUB]').all()[$node[\\\"Loop Over Items\\\"].context[\\\"currentRunIndex\\\"]].json.download_url }}\\\"\\n\\n\\\"URL\\\": \\\"{{ $node['List files from repository [GITHUB]'].all()[$node[\\\"Loop Over Items\\\"].context[\\\"currentRunIndex\\\"]].json.download_url }}\\\"\"},{\"parameters\":{\"mode\":\"raw\",\"jsonOutput\":\"={\\n  \\\"current\\\": {{ $node['Retrieve workflows [N8N]'].json.toJsonString() }},\\n  \\\"git\\\": {{ $json.data ?? \\\"{}\\\" }}\\n}\",\"includeOtherFields\":true,\"options\":{}},\"type\":\"n8n-nodes-base.set\",\"typeVersion\":3.4,\"position\":[380,-40],\"id\":\"c79ec67f-d9db-4034-b78c-8df43c86c60c\",\"name\":\"workflows\"},{\"parameters\":{\"conditions\":{\"options\":{\"caseSensitive\":true,\"leftValue\":\"\",\"typeValidation\":\"strict\",\"version\":2},\"conditions\":[{\"id\":\"0f16f458-70bf-488d-83f9-6ff89feeb3dd\",\"leftValue\":\"={{ $('Combine file names [GITHUB]').item.json.name }}\",\"rightValue\":\"={{ $binary.data.fileName }}\",\"operator\":{\"type\":\"array\",\"operation\":\"contains\",\"rightType\":\"any\"}},{\"id\":\"1fcdf4c6-5b0c-4447-a12a-9417916dd074\",\"leftValue\":\"\",\"rightValue\":\"\",\"operator\":{\"type\":\"string\",\"operation\":\"equals\",\"name\":\"filter.operator.equals\"}}],\"combinator\":\"and\"},\"options\":{}},\"type\":\"n8n-nodes-base.if\",\"typeVersion\":2.2,\"position\":[-220,60],\"id\":\"d95092d8-35b2-43c0-9dd3-8839c66aa526\",\"name\":\"If file exist in git\"},{\"parameters\":{\"fieldsToAggregate\":{\"fieldToAggregate\":[{\"fieldToAggregate\":\"gitVersionId\"},{\"fieldToAggregate\":\"currentVersionId\"}]},\"options\":{}},\"type\":\"n8n-nodes-base.aggregate\",\"typeVersion\":1,\"position\":[860,-220],\"id\":\"0f6a22a4-82bc-4e37-8511-8d87172db8e8\",\"name\":\"Aggregate\"},{\"parameters\":{\"sortFieldsUi\":{\"sortField\":[{\"fieldName\":\"name\"}]},\"options\":{}},\"type\":\"n8n-nodes-base.sort\",\"typeVersion\":1,\"position\":[-1580,80],\"id\":\"21abdc6d-e3aa-4ee8-9f06-2ec836844c2f\",\"name\":\"Sort\"},{\"parameters\":{\"sortFieldsUi\":{\"sortField\":[{\"fieldName\":\"fileName\"}]},\"options\":{}},\"type\":\"n8n-nodes-base.sort\",\"typeVersion\":1,\"position\":[-400,80],\"id\":\"70a233d6-bb1c-404b-84ce-5bf5fe5776ea\",\"name\":\"Sort2\"},{\"parameters\":{\"mode\":\"raw\",\"jsonOutput\":\"={\\n  \\\"fileName\\\": \\\"{{ $binary.data.fileName }}\\\"\\n}\\n\",\"includeOtherFields\":true,\"options\":{}},\"type\":\"n8n-nodes-base.set\",\"typeVersion\":3.4,\"position\":[-560,80],\"id\":\"cf88587e-1a43-4ef1-ad8b-9bb8a11209fa\",\"name\":\"Edit Fields\"},{\"parameters\":{\"fieldsToAggregate\":{\"fieldToAggregate\":[{\"fieldToAggregate\":\"fileName\"},{\"fieldToAggregate\":\"currentVersionId\"}]},\"options\":{}},\"type\":\"n8n-nodes-base.aggregate\",\"typeVersion\":1,\"position\":[-160,-140],\"id\":\"d4317350-9636-415c-afff-8ed72a1f6d5d\",\"name\":\"Aggregate1\"}],\"connections\":{\"Set date\":{\"main\":[[{\"node\":\"Format date\",\"type\":\"main\",\"index\":0}]]},\"Format date\":{\"main\":[[{\"node\":\"Set commit date\",\"type\":\"main\",\"index\":0}]]},\"Set commit date\":{\"main\":[[{\"node\":\"List files from repository [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"List files from repository [GITHUB]\":{\"main\":[[{\"node\":\"Sort\",\"type\":\"main\",\"index\":0}]]},\"Retrieve workflows [N8N]\":{\"main\":[[{\"node\":\"Move JSON to binary\",\"type\":\"main\",\"index\":0}]]},\"Move JSON to binary\":{\"main\":[[{\"node\":\"Edit Fields\",\"type\":\"main\",\"index\":0}]]},\"Upload file [GITHUB]\":{\"main\":[[]]},\"git_repos\":{\"main\":[[{\"node\":\"Set date\",\"type\":\"main\",\"index\":0}]]},\"On form submission\":{\"main\":[[{\"node\":\"git_repos\",\"type\":\"main\",\"index\":0}]]},\"Update file [GITHUB]\":{\"main\":[[]]},\"HTTP Request\":{\"main\":[[{\"node\":\"workflows\",\"type\":\"main\",\"index\":0}]]},\"Check if file changed\":{\"main\":[[{\"node\":\"Update file [GITHUB]\",\"type\":\"main\",\"index\":0}],[]]},\"Combine file names [GITHUB]\":{\"main\":[[{\"node\":\"Retrieve workflows [N8N]\",\"type\":\"main\",\"index\":0}]]},\"Retrieve workflows [N8N]1\":{\"main\":[[{\"node\":\"HTTP Request1\",\"type\":\"main\",\"index\":0}]]},\"HTTP Request1\":{\"main\":[[{\"node\":\"versionIds1\",\"type\":\"main\",\"index\":0}]]},\"List files from repository [GITHUB]1\":{\"main\":[[{\"node\":\"Retrieve workflows [N8N]1\",\"type\":\"main\",\"index\":0}]]},\"versionIds\":{\"main\":[[{\"node\":\"Check if file changed\",\"type\":\"main\",\"index\":0},{\"node\":\"Aggregate\",\"type\":\"main\",\"index\":0}]]},\"url\":{\"main\":[[{\"node\":\"HTTP Request\",\"type\":\"main\",\"index\":0}]]},\"workflows\":{\"main\":[[{\"node\":\"versionIds\",\"type\":\"main\",\"index\":0}]]},\"If file exist in git\":{\"main\":[[{\"node\":\"url\",\"type\":\"main\",\"index\":0}],[{\"node\":\"Upload file [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"Sort\":{\"main\":[[{\"node\":\"Combine file names [GITHUB]\",\"type\":\"main\",\"index\":0}]]},\"Sort2\":{\"main\":[[{\"node\":\"If file exist in git\",\"type\":\"main\",\"index\":0},{\"node\":\"Aggregate1\",\"type\":\"main\",\"index\":0}]]},\"Edit Fields\":{\"main\":[[{\"node\":\"Sort2\",\"type\":\"main\",\"index\":0}]]}},\"settings\":{\"executionOrder\":\"v1\"},\"staticData\":null,\"meta\":null,\"pinData\":{},\"versionId\":\"d41c641d-f4ca-4715-9d9f-5bab35eeae63\",\"triggerCount\":2,\"tags\":[]},\"git\":{\"createdAt\":\"2025-04-14T20:16:46.830Z\",\"updatedAt\":\"2025-04-14T20:29:44.000Z\",\"id\":\"zAUNDWiEgr5YB1l1\",\"name\":\"My workflow 2\",\"active\":false,\"nodes\":[{\"parameters\":{\"events\":[\"init\"]},\"type\":\"n8n-nodes-base.n8nTrigger\",\"typeVersion\":1,\"position\":[0,0],\"id\":\"58d4f915-1a0b-45e4-8251-028d8a51c352\",\"name\":\"n8n Trigger\"},{\"parameters\":{\"jsCode\":\"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\\nfor (const item of $input.all()) {\\n  item.json.myNewField = 1;\\n}\\n\\nreturn $input.all();\"},\"type\":\"n8n-nodes-base.code\",\"typeVersion\":2,\"position\":[320,20],\"id\":\"92cf2d52-6950-47e8-93de-a6d431dc4043\",\"name\":\"Code\"}],\"connections\":{\"n8n Trigger\":{\"main\":[[]]}},\"settings\":{\"executionOrder\":\"v1\"},\"staticData\":null,\"meta\":{\"templateCredsSetupCompleted\":true},\"pinData\":{},\"versionId\":\"686c81fa-b363-4261-8e9f-83694161fe0b\",\"triggerCount\":0,\"tags\":[]}}","current":{"createdAt":"2025-04-10T09:48:57.979Z","updatedAt":"2025-04-16T00:42:02.000Z","id":"fDa7nEW5baBLlB7v","name":"My workflow","active":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"Tu est un "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[640,-440],"id":"54a76046-c57e-47b4-bfc3-9e95564ff64c","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[640,-240],"id":"441cead4-2695-49cc-8c78-56ed70f60e27","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WERJW5onaUjM7N9O","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[760,-220],"id":"c8d91295-55ed-4fa2-9f53-df0c007eb42d","name":"Simple Memory"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"={{ $('Format message json').item.json.body.guild.id }}","mode":"id"},"channelId":{"__rl":true,"value":"={{ $('Format message json').item.json.body.channel.id }}","mode":"id"},"content":"={{ $('AI Agent').item.json.output }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1020,-440],"id":"5e6e055d-6898-407d-a149-8156e11ead4d","name":"Discord1","webhookId":"ffc61cd9-b507-4df5-858a-cad19890d8e5","credentials":{"discordBotApi":{"id":"KPvBm5QqRsDAy08Q","name":"Discord Bot account"}}},{"parameters":{"operation":"fromJson","destinationKey":"=data","options":{"encoding":"utf8","keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[440,-40],"id":"e2e5c060-3d21-4255-beb1-7f21ba8302cc","name":"Extract from File"},{"parameters":{"operation":"fromJson","destinationKey":"=data","options":{"encoding":"utf8","keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[440,160],"id":"1c44d3a1-b856-40c7-80d2-1f8eb342b88b","name":"Extract from File1"},{"parameters":{"httpMethod":"POST","path":"play","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,-440],"id":"2d3a7301-e6f9-49fc-8483-04aec982e3d1","name":"Webhook Play","webhookId":"1073ea64-cd61-4074-a8de-11c43b5e40a4","notesInFlow":true,"notes":"/play"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"sessionId\": \"{{ $json.body.channel.id }}\",\n  \"action\": \"sendMessage\",\n  \"chatInput\": \"{{ $json.body.metadata.originalMessage.content }}\"\n}\n ","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,-440],"id":"4a30ee11-8b7b-418a-8f5c-27647aff266b","name":"Format message json"},{"parameters":{"multipleMethods":true,"httpMethod":["POST","GET","PUT","DELETE"],"path":"games","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[20,0],"id":"1a7ee621-9d98-4b16-b65b-4a75b4181efa","name":"Webhook Games","webhookId":"8eeddfbb-52cb-4c47-977e-10b94e0b88d5","notesInFlow":true,"notes":"/games"},{"parameters":{"operation":"fromJson","destinationKey":"=data","options":{"encoding":"utf8","keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[660,-20],"id":"fb69b063-d950-43af-b328-3a10424f1a87","name":"Extract from File2"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Discord1","type":"main","index":0}]]},"Webhook Play":{"main":[[{"node":"Format message json","type":"main","index":0}]]},"Format message json":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Webhook Games":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook Play":[{"json":{"headers":{"accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"axios/1.8.4","content-length":"429","accept-encoding":"gzip, compress, deflate, br","host":"n8n:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"message":"test","user":{"id":"192016054162030594","name":"seedess","discriminator":"0"},"channel":{"id":"1354834544079011840"},"guild":{"id":"501763051075141633"},"timestamp":1744664878285,"source":"discord","metadata":{"originalMessage":{"content":"test","author":{"id":"192016054162030594","username":"seedess","discriminator":"0"},"channelId":"1354834544079011840","guildId":"501763051075141633","timestamp":1744664878285}}},"webhookUrl":"http://localhost:5678/webhook/play","executionMode":"production"}}]},"versionId":"1a92b1e0-1f8e-4423-a735-adb2c1bf3fe2","triggerCount":5,"tags":[]},"git":{"data":"{\"createdAt\":\"2025-04-14T20:16:46.830Z\",\"updatedAt\":\"2025-04-14T20:29:44.000Z\",\"id\":\"zAUNDWiEgr5YB1l1\",\"name\":\"My workflow 2\",\"active\":false,\"nodes\":[{\"parameters\":{\"events\":[\"init\"]},\"type\":\"n8n-nodes-base.n8nTrigger\",\"typeVersion\":1,\"position\":[0,0],\"id\":\"58d4f915-1a0b-45e4-8251-028d8a51c352\",\"name\":\"n8n Trigger\"},{\"parameters\":{\"jsCode\":\"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\\nfor (const item of $input.all()) {\\n  item.json.myNewField = 1;\\n}\\n\\nreturn $input.all();\"},\"type\":\"n8n-nodes-base.code\",\"typeVersion\":2,\"position\":[320,20],\"id\":\"92cf2d52-6950-47e8-93de-a6d431dc4043\",\"name\":\"Code\"}],\"connections\":{\"n8n Trigger\":{\"main\":[[]]}},\"settings\":{\"executionOrder\":\"v1\"},\"staticData\":null,\"meta\":{\"templateCredsSetupCompleted\":true},\"pinData\":{},\"versionId\":\"686c81fa-b363-4261-8e9f-83694161fe0b\",\"triggerCount\":0,\"tags\":[]}","current":{"createdAt":"2025-04-15T19:30:49.651Z","updatedAt":"2025-04-16T00:39:19.000Z","id":"h4IaVqG7YjldMsXK","name":"My workflow 3","active":true,"nodes":[{"parameters":{"options":{}},"id":"041acaa2-2347-4fa4-8551-745d28e6126c","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2500,80]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"8875cf95-83d2-4d27-ba68-b74c876354c8","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2300,80]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"a9561742-a7ed-4fa1-bfe4-aa941217a1e5","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-2100,80]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').item.json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').item.json.folder }}"},"id":"e34ca03d-cd5a-4d1a-bcfc-87b4b36c44d1","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1800,80],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"id":"bc226377-e7e1-4503-9119-642d743f5258","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1060,80],"credentials":{"n8nApi":{"id":"Vr1cbGSerVjbjeY5","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"3d713aec-d785-4c6d-ab9e-fb43c47dc1c0","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-760,80]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').first().json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').first().json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').first().json.folder }}/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"03f69ebf-8438-4ca8-9c98-6a6250a503ed","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[80,160],"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":299,"width":585},"id":"1fb2e351-0759-49cf-b755-be0385fd0c09","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2540,-60]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":319,"width":390},"id":"9123cff8-6cf1-4d80-bbe4-0501ba394112","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1940,-60]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":319,"width":384},"id":"ff33f34e-fa5d-4d7f-be78-4937babdf7ce","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1520,-60]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"user\": \"CyrilDenoyelle\",\n  \"repos\": \"n8n_game_master_ai\",\n  \"folder\": \"workflows\"\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2740,80],"id":"8429a2ba-08c9-4ae4-b58a-b504b2294b38","name":"git_repos"},{"parameters":{"formTitle":"Commit","formFields":{"values":[{"fieldLabel":"commit","placeholder":"commit message"}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-2960,80],"id":"eb1018e2-a3b3-4f7b-a0e6-abfe22d3d542","name":"On form submission","webhookId":"550c2e93-fff9-455f-8d23-6f3edd50cd37"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').first().json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').first().json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').first().json.folder }}/{{ $node['If file exist in git'].json.fileName }}","fileContent":"={{ $('workflows').item.json.toJsonString() }}","commitMessage":"=backup-{{ $('Set commit date').first().json.commitDate }}"},"id":"ac955b0e-caae-43d2-a098-7d5c8a166b26","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1260,-20],"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.currentVersionId }}","operation":"notEqual","value2":"={{ $json.gitVersionId }}"}]}},"id":"1b3b1948-d25c-4f9c-81a4-4617772b43bd","name":"Check if file changed","type":"n8n-nodes-base.if","typeVersion":1,"position":[780,20],"notes":"{{ $json.data?.parseJson().versionId }}"},{"parameters":{"url":"={{ $json.URL }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,-40],"id":"f80860ad-292a-4526-ad05-8eaf5a2d3c21","name":"HTTP Request","alwaysOutputData":false},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"de6cb76e-8fa5-409a-9e45-ac9b7a139104","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1260,80]},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"fDa7nEW5baBLlB7v","mode":"list","cachedResultName":"My workflow (#fDa7nEW5baBLlB7v)"},"requestOptions":{}},"id":"94e2be90-059f-48a9-920b-a5bd22fb9080","name":"Retrieve workflows [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1640,580],"credentials":{"n8nApi":{"id":"Vr1cbGSerVjbjeY5","name":"n8n account"}}},{"parameters":{"url":"=https://raw.githubusercontent.com/CyrilDenoyelle/n8n_game_master_ai/main/workflows/{{ $('List files from repository [GITHUB]1').item.binary.data.fileName }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1460,680],"id":"5e1c0578-8f8e-4387-b5fa-88104414f920","name":"HTTP Request1","alwaysOutputData":false},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"newVersionId\": \"{{ $json.data.parseJson().versionId }}\",\n\"oldVersionId\": \"{{ $('Retrieve workflows [N8N]1').item.json.versionId }}\"\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1260,680],"id":"904b4691-94e0-434e-95f4-b20ce7dc23a5","name":"versionIds1"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').item.json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').item.json.folder }}/my-workflow-2-zAUNDWiEgr5YB1l1.json","additionalParameters":{}},"id":"983b32e7-bc9f-4032-9043-7217c1b55209","name":"List files from repository [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1940,440],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"gitVersionId\": \"{{ $json?.git.versionId }}\",\n  \"currentVersionId\": \"{{ $json.current.versionId }}\"\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,-40],"id":"742b755c-208a-4b97-a3ec-5e87a8a3d758","name":"versionIds"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"URL\": \"{{ $node['List files from repository [GITHUB]'].json.download_url }}\"\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,-40],"id":"f339ad8f-fcf4-447d-adef-ffc08bd28e93","name":"url","notes":"\"URL\": \"{{ $('List files from repository [GITHUB]').all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\"\n\n\"URL\": \"{{ $node['List files from repository [GITHUB]'].all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\""},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"current\": {{ $node['Retrieve workflows [N8N]'].json.toJsonString() }},\n  \"git\": {{ $json.data ?? \"{}\" }}\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[380,-40],"id":"c79ec67f-d9db-4034-b78c-8df43c86c60c","name":"workflows"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f16f458-70bf-488d-83f9-6ff89feeb3dd","leftValue":"={{ $('Combine file names [GITHUB]').item.json.name }}","rightValue":"={{ $binary.data.fileName }}","operator":{"type":"array","operation":"contains","rightType":"any"}},{"id":"1fcdf4c6-5b0c-4447-a12a-9417916dd074","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-220,60],"id":"d95092d8-35b2-43c0-9dd3-8839c66aa526","name":"If file exist in git"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"gitVersionId"},{"fieldToAggregate":"currentVersionId"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[860,-220],"id":"0f6a22a4-82bc-4e37-8511-8d87172db8e8","name":"Aggregate"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"name"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1580,80],"id":"21abdc6d-e3aa-4ee8-9f06-2ec836844c2f","name":"Sort"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"fileName"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-400,80],"id":"70a233d6-bb1c-404b-84ce-5bf5fe5776ea","name":"Sort2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"fileName\": \"{{ $binary.data.fileName }}\"\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,80],"id":"cf88587e-1a43-4ef1-ad8b-9bb8a11209fa","name":"Edit Fields"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"fileName"},{"fieldToAggregate":"currentVersionId"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-160,-140],"id":"d4317350-9636-415c-afff-8ed72a1f6d5d","name":"Aggregate1"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[]]},"git_repos":{"main":[[{"node":"Set date","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"git_repos","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[]]},"HTTP Request":{"main":[[{"node":"workflows","type":"main","index":0}]]},"Check if file changed":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"versionIds1","type":"main","index":0}]]},"List files from repository [GITHUB]1":{"main":[[{"node":"Retrieve workflows [N8N]1","type":"main","index":0}]]},"versionIds":{"main":[[{"node":"Check if file changed","type":"main","index":0},{"node":"Aggregate","type":"main","index":0}]]},"url":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"workflows":{"main":[[{"node":"versionIds","type":"main","index":0}]]},"If file exist in git":{"main":[[{"node":"url","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Sort2":{"main":[[{"node":"If file exist in git","type":"main","index":0},{"node":"Aggregate1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Sort2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d41c641d-f4ca-4715-9d9f-5bab35eeae63","triggerCount":2,"tags":[]},"git":{"createdAt":"2025-04-14T20:16:46.830Z","updatedAt":"2025-04-14T20:29:44.000Z","id":"zAUNDWiEgr5YB1l1","name":"My workflow 2","active":false,"nodes":[{"parameters":{"events":["init"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[0,0],"id":"58d4f915-1a0b-45e4-8251-028d8a51c352","name":"n8n Trigger"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,20],"id":"92cf2d52-6950-47e8-93de-a6d431dc4043","name":"Code"}],"connections":{"n8n Trigger":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"686c81fa-b363-4261-8e9f-83694161fe0b","triggerCount":0,"tags":[]}}}