workflows/git-pull-force.json
{
  "createdAt": "2025-04-30T20:43:10.437Z",
  "updatedAt": "2025-04-30T21:14:57.000Z",
  "id": "rUR3dB2RlLVieMTQ",
  "name": "Git pull force",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        660
      ],
      "id": "f98f1c01-b602-454a-ac11-b8afdba6ae03",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "=https://github.com/{{ $('git_repos').item.json.user }}",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}",
          "mode": "url"
        },
        "filePath": "={{ $('git_repos').item.json.folder }}"
      },
      "id": "84c9e743-094a-4da2-a878-175f7182d53d",
      "name": "List files from repository [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        740,
        860
      ],
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "SZ9drHPSJtxxDnV3",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"user\": \"CyrilDenoyelle\",\n  \"repos\": \"n8n_game_master_ai\",\n  \"folder\": \"workflows\"\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        660
      ],
      "id": "2e3a699b-862a-43fe-b26d-9c8323ceabd8",
      "name": "git_repos"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.currentVersionId }}",
              "operation": "notEqual",
              "value2": "={{ $json.gitVersionId }}"
            }
          ]
        }
      },
      "id": "a3c80e7a-190f-4e39-a1f8-7e4867610a0c",
      "name": "Check if file changed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2500,
        460
      ],
      "notes": "{{ $json.data?.parseJson().versionId }}"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        460
      ],
      "id": "364e4682-68b8-49f3-b9dd-a81a777a2fc3",
      "name": "HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"gitVersionId\": \"{{ $json.git.versionId }}\",\n  \"currentVersionId\": \"{{ $json.current.versionId }}\"\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2280,
        460
      ],
      "id": "390b25c7-4b8f-4c71-a445-a2970a27f73b",
      "name": "versionIds"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"URL\": \"{{ $node['Sorted git files'].json.download_url }}\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        460
      ],
      "id": "3b1eba8e-a4de-4654-a721-bb0e0f4e6f18",
      "name": "url",
      "notes": "\"URL\": \"{{ $('List files from repository [GITHUB]').all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\"\n\n\"URL\": \"{{ $node['List files from repository [GITHUB]'].all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\""
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        960,
        860
      ],
      "id": "ae6890b3-f28e-47c3-85e8-f3a4312114d4",
      "name": "Sorted git files"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"git\": {{ $json.data.parseJson().toJsonString() }}\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        460
      ],
      "id": "cfbc06a0-563d-45fc-815b-8fa0c90573ee",
      "name": "git"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"current\": {{ $('n8n_workflow').item.json.toJsonString() }}\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2060,
        460
      ],
      "id": "b4dc27c9-94fd-4527-94af-12843f35015e",
      "name": "current"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "fileName",
              "field2": "name"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1180,
        860
      ],
      "id": "3ffd9769-cd4a-4bdb-94f9-c199dad8120c",
      "name": "Filter in n8n not gited"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "fileName",
              "field2": "=name"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1180,
        660
      ],
      "id": "3ad1d4e7-1746-42a1-8d6d-b55065fa0956",
      "name": "Filter gited and not in n8n"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "ffb36728-2668-429a-af3a-e23547af47fe",
      "name": "Retrieve workflows [N8N]",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        80,
        460
      ],
      "credentials": {
        "n8nApi": {
          "id": "Vr1cbGSerVjbjeY5",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "fileName",
              "field2": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1180,
        460
      ],
      "id": "3d1bff6e-cac5-4416-a73c-c26848066dbd",
      "name": "Filter gited and in n8n"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fileName\": \"{{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        460
      ],
      "id": "788e185c-786c-4a8e-9612-3df05b133b51",
      "name": "reset fileName"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"n8n_workflow\": {{ $json.toJsonString() }}\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        460
      ],
      "id": "2cd728fc-ffb7-4936-8f97-7a2c4283d40d",
      "name": "n8n_workflow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fileName\": \"{{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        460
      ],
      "id": "b22abb09-4bc9-46c9-aaf0-1139e633ff48",
      "name": "set fileName"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "fileName"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        520,
        460
      ],
      "id": "c9c06aae-13e9-4953-a072-225422d339ba",
      "name": "Sorted workflows"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"URL\": \"{{ $json.download_url }}\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        660
      ],
      "id": "2db98e5c-2784-4ea9-9dd7-ef9f970f6be3",
      "name": "url1",
      "notes": "\"URL\": \"{{ $('List files from repository [GITHUB]').all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\"\n\n\"URL\": \"{{ $node['List files from repository [GITHUB]'].all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\""
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        660
      ],
      "id": "e1e3aa92-955f-4adf-ba26-e8e8640c3250",
      "name": "HTTP Request1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n    \"git\": {{ $json.data.parseJson().toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        660
      ],
      "id": "888e7d71-4cc0-4025-a370-b8c7eb7e29ba",
      "name": "set git for update1"
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "value": "=  {{ $('git').item.json.git.id }}",
          "mode": "id"
        },
        "workflowObject": "={{ $('git').item.json.git.toJsonString() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        2780,
        440
      ],
      "id": "a3b51b5d-8445-49ce-a36e-454f8668e056",
      "name": "update workflow",
      "credentials": {
        "n8nApi": {
          "id": "Vr1cbGSerVjbjeY5",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.git.toJsonString() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        2060,
        660
      ],
      "id": "9c6c3d64-f541-49b9-8845-e2e15becb3e4",
      "name": "create n8n from git file",
      "credentials": {
        "n8nApi": {
          "id": "Vr1cbGSerVjbjeY5",
          "name": "n8n account"
        }
      }
    }
  ],
  "connections": {
    "List files from repository [GITHUB]": {
      "main": [
        [
          {
            "node": "Sorted git files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git_repos": {
      "main": [
        [
          {
            "node": "List files from repository [GITHUB]",
            "type": "main",
            "index": 0
          },
          {
            "node": "Retrieve workflows [N8N]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file changed": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "versionIds": {
      "main": [
        [
          {
            "node": "Check if file changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sorted git files": {
      "main": [
        [
          {
            "node": "Filter in n8n not gited",
            "type": "main",
            "index": 1
          },
          {
            "node": "Filter gited and not in n8n",
            "type": "main",
            "index": 1
          },
          {
            "node": "Filter gited and in n8n",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "git": {
      "main": [
        [
          {
            "node": "current",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "current": {
      "main": [
        [
          {
            "node": "versionIds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "git_repos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter in n8n not gited": {
      "main": [
        []
      ]
    },
    "Retrieve workflows [N8N]": {
      "main": [
        [
          {
            "node": "set fileName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter gited and in n8n": {
      "main": [
        [
          {
            "node": "url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset fileName": {
      "main": [
        [
          {
            "node": "n8n_workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n_workflow": {
      "main": [
        [
          {
            "node": "Filter in n8n not gited",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter gited and in n8n",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter gited and not in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set fileName": {
      "main": [
        [
          {
            "node": "Sorted workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sorted workflows": {
      "main": [
        [
          {
            "node": "reset fileName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter gited and not in n8n": {
      "main": [
        [
          {
            "node": "url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "set git for update1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set git for update1": {
      "main": [
        [
          {
            "node": "create n8n from git file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "722e0b10-d2d4-421f-958c-3ed26cfad514",
  "triggerCount": 0,
  "tags": [],
  "fileName": "git-pull-force.json"
}