workflows/git-h4IaVqG7YjldMsXK.json
{"createdAt":"2025-04-15T19:30:49.651Z","updatedAt":"2025-04-16T20:50:43.000Z","id":"h4IaVqG7YjldMsXK","name":"Git","active":true,"nodes":[{"parameters":{"options":{}},"id":"041acaa2-2347-4fa4-8551-745d28e6126c","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2020,80]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"8875cf95-83d2-4d27-ba68-b74c876354c8","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1900,80]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"a9561742-a7ed-4fa1-bfe4-aa941217a1e5","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1780,80]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').item.json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').item.json.folder }}"},"id":"e34ca03d-cd5a-4d1a-bcfc-87b4b36c44d1","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1520,80],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"filters":{},"requestOptions":{}},"id":"bc226377-e7e1-4503-9119-642d743f5258","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-920,80],"credentials":{"n8nApi":{"id":"Vr1cbGSerVjbjeY5","name":"n8n account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').first().json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').first().json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').first().json.folder }}/{{ $binary.data.fileName }}","binaryData":true,"binaryPropertyName":"workflowData","commitMessage":"=backup-{{ $('Set commit date').first().json.commitDate }}"},"id":"03f69ebf-8438-4ca8-9c98-6a6250a503ed","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[560,200],"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"user\": \"CyrilDenoyelle\",\n  \"repos\": \"n8n_game_master_ai\",\n  \"folder\": \"workflows\"\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2260,80],"id":"8429a2ba-08c9-4ae4-b58a-b504b2294b38","name":"git_repos"},{"parameters":{"formTitle":"Commit","formFields":{"values":[{"fieldLabel":"commit","placeholder":"commit message"}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-2640,-60],"id":"eb1018e2-a3b3-4f7b-a0e6-abfe22d3d542","name":"On form submission","webhookId":"550c2e93-fff9-455f-8d23-6f3edd50cd37"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').first().json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').first().json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').first().json.folder }}/{{ $node['If file exist in git'].json.fileName }}","fileContent":"={{ $('workflows').item.json.toJsonString() }}","commitMessage":"=backup-{{ $('Set commit date').first().json.commitDate }}"},"id":"ac955b0e-caae-43d2-a098-7d5c8a166b26","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1560,-20],"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.currentVersionId }}","operation":"notEqual","value2":"={{ $json.gitVersionId }}"}]}},"id":"1b3b1948-d25c-4f9c-81a4-4617772b43bd","name":"Check if file changed","type":"n8n-nodes-base.if","typeVersion":1,"position":[1240,20],"notes":"{{ $json.data?.parseJson().versionId }}"},{"parameters":{"url":"={{ $json.URL }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,-40],"id":"f80860ad-292a-4526-ad05-8eaf5a2d3c21","name":"HTTP Request","alwaysOutputData":false},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"de6cb76e-8fa5-409a-9e45-ac9b7a139104","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1160,80]},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"fDa7nEW5baBLlB7v","mode":"list","cachedResultName":"My workflow (#fDa7nEW5baBLlB7v)"},"requestOptions":{}},"id":"94e2be90-059f-48a9-920b-a5bd22fb9080","name":"Retrieve workflows [N8N]1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1640,580],"credentials":{"n8nApi":{"id":"Vr1cbGSerVjbjeY5","name":"n8n account"}}},{"parameters":{"url":"=https://raw.githubusercontent.com/CyrilDenoyelle/n8n_game_master_ai/main/workflows/{{ $('List files from repository [GITHUB]1').item.binary.data.fileName }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1460,680],"id":"5e1c0578-8f8e-4387-b5fa-88104414f920","name":"HTTP Request1","alwaysOutputData":false},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"newVersionId\": \"{{ $json.data.parseJson().versionId }}\",\n\"oldVersionId\": \"{{ $('Retrieve workflows [N8N]1').item.json.versionId }}\"\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1260,680],"id":"904b4691-94e0-434e-95f4-b20ce7dc23a5","name":"versionIds1"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').item.json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').item.json.folder }}/my-workflow-2-zAUNDWiEgr5YB1l1.json","additionalParameters":{}},"id":"983b32e7-bc9f-4032-9043-7217c1b55209","name":"List files from repository [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1940,440],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"gitVersionId\": \"{{ $json.git.versionId }}\",\n  \"currentVersionId\": \"{{ $json.current.versionId }}\"\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,-40],"id":"742b755c-208a-4b97-a3ec-5e87a8a3d758","name":"versionIds"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"URL\": \"{{ $node['Sorted git files'].json.download_url }}\"\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,-40],"id":"f339ad8f-fcf4-447d-adef-ffc08bd28e93","name":"url","notes":"\"URL\": \"{{ $('List files from repository [GITHUB]').all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\"\n\n\"URL\": \"{{ $node['List files from repository [GITHUB]'].all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\""},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"current\": {{ $('n8n_workflow').item.json.toJsonString() }},\n  \"git\": {{ $json.data }}\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,-40],"id":"c79ec67f-d9db-4034-b78c-8df43c86c60c","name":"workflows"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f16f458-70bf-488d-83f9-6ff89feeb3dd","leftValue":"={{ $('Combine file names [GITHUB]').first().json.name }}","rightValue":"={{ $node['set fileName'].json.fileName }}","operator":{"type":"array","operation":"contains","rightType":"any"}},{"id":"1fcdf4c6-5b0c-4447-a12a-9417916dd074","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,-20],"id":"d95092d8-35b2-43c0-9dd3-8839c66aa526","name":"If file exist in git"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"gitVersionId"},{"fieldToAggregate":"currentVersionId"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1240,-220],"id":"0f6a22a4-82bc-4e37-8511-8d87172db8e8","name":"Aggregate"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"name"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1340,80],"id":"21abdc6d-e3aa-4ee8-9f06-2ec836844c2f","name":"Sorted git files"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"fileName"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-560,80],"id":"70a233d6-bb1c-404b-84ce-5bf5fe5776ea","name":"Sorted workflows"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{},{"fieldToAggregate":"currentVersionId"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[160,-300],"id":"d4317350-9636-415c-afff-8ed72a1f6d5d","name":"Aggregate1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[80,240],"id":"17930fc2-6bce-4524-9a25-771cddbeb3e1","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2560,160],"id":"37864f69-c202-40c6-b779-f240a5ce77ed","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"toText","sourceProperty":"n8n_workflow","binaryPropertyName":"workflowData","options":{"fileName":"={{ $json.fileName }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[380,200],"id":"3bff9d2e-b338-4cba-8b3b-c6a09a5d7f88","name":"Convert to File"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"fileName\": \"{{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json\"\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,80],"id":"cf88587e-1a43-4ef1-ad8b-9bb8a11209fa","name":"set fileName"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"n8n_workflow\": {{ $json.toJsonString() }}\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,80],"id":"ae973906-63a9-46e9-b4fe-fd05998b3530","name":"n8n_workflow"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Sorted git files","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"set fileName","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[]]},"git_repos":{"main":[[{"node":"Set date","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"git_repos","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[]]},"HTTP Request":{"main":[[{"node":"workflows","type":"main","index":0}]]},"Check if file changed":{"main":[[],[]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"versionIds1","type":"main","index":0}]]},"List files from repository [GITHUB]1":{"main":[[{"node":"Retrieve workflows [N8N]1","type":"main","index":0}]]},"versionIds":{"main":[[{"node":"Check if file changed","type":"main","index":0},{"node":"Aggregate","type":"main","index":0}]]},"url":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"workflows":{"main":[[{"node":"versionIds","type":"main","index":0}]]},"If file exist in git":{"main":[[{"node":"url","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"Sorted git files":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Sorted workflows":{"main":[[{"node":"Aggregate1","type":"main","index":0},{"node":"n8n_workflow","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"git_repos","type":"main","index":0}]]},"set fileName":{"main":[[{"node":"Sorted workflows","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"n8n_workflow":{"main":[[{"node":"If file exist in git","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c2bc3b33-6f74-4027-b9da-6af751c9dbc2","triggerCount":2,"tags":[],"fileName":"git-h4IaVqG7YjldMsXK.json"}