workflows/git-pull-force.json
{
  "createdAt": "2025-04-30T20:43:10.437Z",
  "updatedAt": "2025-05-01T20:44:12.000Z",
  "id": "rUR3dB2RlLVieMTQ",
  "name": "Git pull force",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "=https://github.com/{{ $('git_repos').item.json.user }}",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}",
          "mode": "url"
        },
        "filePath": "={{ $('git_repos').item.json.folder }}"
      },
      "id": "84c9e743-094a-4da2-a878-175f7182d53d",
      "name": "List files from repository [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        760,
        950
      ],
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "SZ9drHPSJtxxDnV3",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"user\": \"CyrilDenoyelle\",\n  \"repos\": \"n8n_game_master_ai\",\n  \"folder\": \"workflows\"\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        500
      ],
      "id": "2e3a699b-862a-43fe-b26d-9c8323ceabd8",
      "name": "git_repos"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.git.nodes.toJsonString() }}",
              "operation": "notEqual",
              "value2": "={{ $json.current.nodes.toJsonString() }}"
            },
            {
              "value1": "={{ $json.git.connections.toJsonString() }}",
              "operation": "notEqual",
              "value2": "={{ $json.current.connections.toJsonString() }}"
            }
          ],
          "boolean": [
            {
              "value1": "={{ $json.git.active }}",
              "operation": "notEqual",
              "value2": "={{ $json.current.active }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "a3c80e7a-190f-4e39-a1f8-7e4867610a0c",
      "name": "Check if file changed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2520,
        500
      ],
      "notes": "{{ $json.data?.parseJson().versionId }}"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        500
      ],
      "id": "364e4682-68b8-49f3-b9dd-a81a777a2fc3",
      "name": "HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"gitVersionId\": \"{{ $json.git.versionId }}\",\n  \"currentVersionId\": \"{{ $json.current.versionId }}\",\n  \"option\": \"{{ $json.current.fileName }}\"\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2300,
        500
      ],
      "id": "390b25c7-4b8f-4c71-a445-a2970a27f73b",
      "name": "versionIds"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"URL\": \"{{ $node['Sorted git files'].json.download_url }}\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        500
      ],
      "id": "3b1eba8e-a4de-4654-a721-bb0e0f4e6f18",
      "name": "url",
      "notes": "\"URL\": \"{{ $('List files from repository [GITHUB]').all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\"\n\n\"URL\": \"{{ $node['List files from repository [GITHUB]'].all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\""
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        980,
        950
      ],
      "id": "ae6890b3-f28e-47c3-85e8-f3a4312114d4",
      "name": "Sorted git files"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"git\": {{ $json.data.parseJson().toJsonString() }}\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1860,
        500
      ],
      "id": "cfbc06a0-563d-45fc-815b-8fa0c90573ee",
      "name": "git"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"current\": {{ $('n8n_workflow').item.json.toJsonString() }}\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        500
      ],
      "id": "b4dc27c9-94fd-4527-94af-12843f35015e",
      "name": "current"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "fileName",
              "field2": "name"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1200,
        900
      ],
      "id": "3ffd9769-cd4a-4bdb-94f9-c199dad8120c",
      "name": "Filter in n8n not gited"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "fileName",
              "field2": "=name"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1200,
        700
      ],
      "id": "3ad1d4e7-1746-42a1-8d6d-b55065fa0956",
      "name": "Filter gited and not in n8n"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "ffb36728-2668-429a-af3a-e23547af47fe",
      "name": "Retrieve workflows [N8N]",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "credentials": {
        "n8nApi": {
          "id": "Vr1cbGSerVjbjeY5",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "fileName",
              "field2": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1200,
        500
      ],
      "id": "3d1bff6e-cac5-4416-a73c-c26848066dbd",
      "name": "Filter gited and in n8n"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fileName\": \"{{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}.json\",\n  \"option\": \"{{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}.json\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        300
      ],
      "id": "788e185c-786c-4a8e-9612-3df05b133b51",
      "name": "reset fileName"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"n8n_workflow\": {{ $json.toJsonString() }}\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        450
      ],
      "id": "2cd728fc-ffb7-4936-8f97-7a2c4283d40d",
      "name": "n8n_workflow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fileName\": \"{{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}.json\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        300
      ],
      "id": "b22abb09-4bc9-46c9-aaf0-1139e633ff48",
      "name": "set fileName"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "fileName"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        540,
        300
      ],
      "id": "c9c06aae-13e9-4953-a072-225422d339ba",
      "name": "Sorted workflows"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"URL\": \"{{ $json.download_url }}\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1420,
        700
      ],
      "id": "2db98e5c-2784-4ea9-9dd7-ef9f970f6be3",
      "name": "url1",
      "notes": "\"URL\": \"{{ $('List files from repository [GITHUB]').all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\"\n\n\"URL\": \"{{ $node['List files from repository [GITHUB]'].all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\""
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        700
      ],
      "id": "e1e3aa92-955f-4adf-ba26-e8e8640c3250",
      "name": "HTTP Request1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n    \"git\": {{ $json.data.parseJson().toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1860,
        700
      ],
      "id": "888e7d71-4cc0-4025-a370-b8c7eb7e29ba",
      "name": "set git for update1"
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "value": "={{ $('n8n_workflow').item.json.id }}",
          "mode": "id"
        },
        "workflowObject": "={{ $('git').item.json.git.toJsonString() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        2960,
        500
      ],
      "id": "a3b51b5d-8445-49ce-a36e-454f8668e056",
      "name": "update workflow",
      "credentials": {
        "n8nApi": {
          "id": "Vr1cbGSerVjbjeY5",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.git.toJsonString() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        2080,
        700
      ],
      "id": "9c6c3d64-f541-49b9-8845-e2e15becb3e4",
      "name": "create n8n from git file",
      "credentials": {
        "n8nApi": {
          "id": "Vr1cbGSerVjbjeY5",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "git pull force",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Sure ?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Sure !"
                  },
                  {
                    "option": "No wait !"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "path": "pullforce"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -340,
        500
      ],
      "id": "259f0030-172a-433e-994c-727105e761ad",
      "name": "On form submission",
      "webhookId": "ddbbad7d-2f09-48bc-9c32-76ec738e00e7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c6c86b3-b6fc-40a5-9d5a-87ba92096112",
              "leftValue": "={{ $('files to pull').first().json['files to pull force'] }}",
              "rightValue": "={{ $json.git.fileName }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2740,
        500
      ],
      "id": "fdf434de-9efb-472a-a3d6-8eba3042f16c",
      "name": "Filter in files to pull update"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n   {\n\t\t\"fieldLabel\": \"files to pull force\",\n\t\t\"fieldType\": \"dropdown\",\n\t\t\"fieldOptions\": {\n\t\t\t\"values\": {{ $json.data }}\n\t\t},\n\t\t\"requiredField\": false,\n        \"multiselect\": true \n\t}\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        2960,
        320
      ],
      "id": "f5950673-059b-4d91-81ca-e908bc5ded96",
      "name": "git add",
      "webhookId": "d201245c-1175-4b37-a089-0995bf637b2f"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "option",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2740,
        320
      ],
      "id": "dcf681b5-4389-465f-a180-44b594053b69",
      "name": "Aggregate git add select"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"files to pull\": {{ $json[\"files to pull force\"] }}\n}\n ",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3180,
        320
      ],
      "id": "eccecfae-aa50-4328-acee-80f59fabddd5",
      "name": "files to pull"
    }
  ],
  "connections": {
    "List files from repository [GITHUB]": {
      "main": [
        [
          {
            "node": "Sorted git files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git_repos": {
      "main": [
        [
          {
            "node": "List files from repository [GITHUB]",
            "type": "main",
            "index": 0
          },
          {
            "node": "Retrieve workflows [N8N]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file changed": {
      "main": [
        [
          {
            "node": "Filter in files to pull update",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate git add select",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "versionIds": {
      "main": [
        [
          {
            "node": "Check if file changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sorted git files": {
      "main": [
        [
          {
            "node": "Filter in n8n not gited",
            "type": "main",
            "index": 1
          },
          {
            "node": "Filter gited and not in n8n",
            "type": "main",
            "index": 1
          },
          {
            "node": "Filter gited and in n8n",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "git": {
      "main": [
        [
          {
            "node": "current",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "current": {
      "main": [
        [
          {
            "node": "versionIds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter in n8n not gited": {
      "main": [
        []
      ]
    },
    "Retrieve workflows [N8N]": {
      "main": [
        [
          {
            "node": "set fileName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter gited and in n8n": {
      "main": [
        [
          {
            "node": "url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset fileName": {
      "main": [
        [
          {
            "node": "n8n_workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n_workflow": {
      "main": [
        [
          {
            "node": "Filter in n8n not gited",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter gited and in n8n",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter gited and not in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set fileName": {
      "main": [
        [
          {
            "node": "Sorted workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sorted workflows": {
      "main": [
        [
          {
            "node": "reset fileName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter gited and not in n8n": {
      "main": [
        [
          {
            "node": "url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "set git for update1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set git for update1": {
      "main": [
        [
          {
            "node": "create n8n from git file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "git_repos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter in files to pull update": {
      "main": [
        [
          {
            "node": "update workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "git add": {
      "main": [
        [
          {
            "node": "files to pull",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate git add select": {
      "main": [
        [
          {
            "node": "git add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4859d70f-bc63-4d82-ac11-ff391a3823cf",
  "triggerCount": 2,
  "tags": [],
  "fileName": "git-pull-force.json",
  "option": "git-pull-force.json"
}