workflows/git-h4IaVqG7YjldMsXK.json
{"createdAt":"2025-04-15T19:30:49.651Z","updatedAt":"2025-04-16T21:55:07.000Z","id":"h4IaVqG7YjldMsXK","name":"Git","active":true,"nodes":[{"parameters":{"options":{}},"id":"041acaa2-2347-4fa4-8551-745d28e6126c","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2080,-100]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"8875cf95-83d2-4d27-ba68-b74c876354c8","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1960,-100]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"a9561742-a7ed-4fa1-bfe4-aa941217a1e5","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1840,-100]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').item.json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').item.json.folder }}"},"id":"e34ca03d-cd5a-4d1a-bcfc-87b4b36c44d1","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1580,-100],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"filters":{},"requestOptions":{}},"id":"bc226377-e7e1-4503-9119-642d743f5258","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1000,-100],"credentials":{"n8nApi":{"id":"Vr1cbGSerVjbjeY5","name":"n8n account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').first().json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').first().json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').first().json.folder }}/{{ $('n8n_workflow').item.json.fileName }}","binaryData":true,"binaryPropertyName":"workflowData","commitMessage":"=backup-{{ $('Set commit date').first().json.commitDate }}"},"id":"03f69ebf-8438-4ca8-9c98-6a6250a503ed","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[420,-40],"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"user\": \"CyrilDenoyelle\",\n  \"repos\": \"n8n_game_master_ai\",\n  \"folder\": \"workflows\"\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2320,-100],"id":"8429a2ba-08c9-4ae4-b58a-b504b2294b38","name":"git_repos"},{"parameters":{"formTitle":"Commit","formFields":{"values":[{"fieldLabel":"commit","placeholder":"commit message"}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-2640,-100],"id":"eb1018e2-a3b3-4f7b-a0e6-abfe22d3d542","name":"On form submission","webhookId":"550c2e93-fff9-455f-8d23-6f3edd50cd37"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').first().json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').first().json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').first().json.folder }}/{{ $node['If file exist in git'].json.fileName }}","fileContent":"={{ $('git').item.json.data }}","commitMessage":"=backup-{{ $('Set commit date').first().json.commitDate }}"},"id":"ac955b0e-caae-43d2-a098-7d5c8a166b26","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1220,-280],"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.currentVersionId }}","operation":"notEqual","value2":"={{ $json.gitVersionId }}"}]}},"id":"1b3b1948-d25c-4f9c-81a4-4617772b43bd","name":"Check if file changed","type":"n8n-nodes-base.if","typeVersion":1,"position":[840,-180],"notes":"{{ $json.data?.parseJson().versionId }}"},{"parameters":{"url":"={{ $json.URL }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,-180],"id":"f80860ad-292a-4526-ad05-8eaf5a2d3c21","name":"HTTP Request","alwaysOutputData":false},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"de6cb76e-8fa5-409a-9e45-ac9b7a139104","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1200,-100]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"gitVersionId\": \"{{ $json.git.versionId }}\",\n  \"currentVersionId\": \"{{ $json.current.versionId }}\"\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,-180],"id":"742b755c-208a-4b97-a3ec-5e87a8a3d758","name":"versionIds"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"URL\": \"{{ $node['Sorted git files'].json.download_url }}\"\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,-180],"id":"f339ad8f-fcf4-447d-adef-ffc08bd28e93","name":"url","notes":"\"URL\": \"{{ $('List files from repository [GITHUB]').all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\"\n\n\"URL\": \"{{ $node['List files from repository [GITHUB]'].all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\""},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f16f458-70bf-488d-83f9-6ff89feeb3dd","leftValue":"={{ $('Combine file names [GITHUB]').first().json.name }}","rightValue":"={{ $node['reset fileName'].json.fileName }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-120,-100],"id":"d95092d8-35b2-43c0-9dd3-8839c66aa526","name":"If file exist in git"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"name"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1400,-100],"id":"21abdc6d-e3aa-4ee8-9f06-2ec836844c2f","name":"Sorted git files"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"fileName"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-680,-100],"id":"70a233d6-bb1c-404b-84ce-5bf5fe5776ea","name":"Sorted workflows"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2580,60],"id":"37864f69-c202-40c6-b779-f240a5ce77ed","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"workflowData","options":{"encoding":"utf8"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[260,-40],"id":"3bff9d2e-b338-4cba-8b3b-c6a09a5d7f88","name":"Convert to File"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"fileName\": \"{{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json\"\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-840,-100],"id":"cf88587e-1a43-4ef1-ad8b-9bb8a11209fa","name":"set fileName"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"n8n_workflow\": {{ $json.toJsonString() }}\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-360,-100],"id":"ae973906-63a9-46e9-b4fe-fd05998b3530","name":"n8n_workflow"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-580,600],"id":"a2a01b17-bf30-47a6-9950-07b86c988bc4","name":"Code"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"git\": {{ $json.data }}\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,-180],"id":"c79ec67f-d9db-4034-b78c-8df43c86c60c","name":"git"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"current\": {{ $('n8n_workflow').item.json.toJsonString() }}\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,-180],"id":"bc6214b5-2268-4bc9-856f-8bdc7bc9cf44","name":"current"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"fileName\": \"{{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json\"\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-520,-100],"id":"31553a09-5e8f-4f5e-942a-370331b2a572","name":"reset fileName"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.n8n_workflow.toJsonString() }}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,-40],"id":"78ab9e3b-e0d3-4ea4-b397-9495c2822182","name":"get workflow","notes":"\"URL\": \"{{ $('List files from repository [GITHUB]').all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\"\n\n\"URL\": \"{{ $node['List files from repository [GITHUB]'].all()[$node[\"Loop Over Items\"].context[\"currentRunIndex\"]].json.download_url }}\""},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-100,-300],"id":"af172d49-2566-4a61-aeea-b34ecdcba9ed","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[120,-380],"id":"1c89ff40-c4c2-490b-aab8-5996ed63a7b3","name":"Merge1"},{"parameters":{"mode":"raw","jsonOutput":"={{ $('n8n_workflow').item.json.toJsonString() }}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1020,-280],"id":"d6c82cc8-baf5-4d7e-b2b5-ca0181ea28f2","name":"set current for updload"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Sorted git files","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"set fileName","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[]]},"git_repos":{"main":[[{"node":"Set date","type":"main","index":0}]]},"On form submission":{"main":[[]]},"Update file [GITHUB]":{"main":[[]]},"HTTP Request":{"main":[[{"node":"git","type":"main","index":0}]]},"Check if file changed":{"main":[[{"node":"set current for updload","type":"main","index":0}],[]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"versionIds":{"main":[[{"node":"Check if file changed","type":"main","index":0}]]},"url":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If file exist in git":{"main":[[{"node":"url","type":"main","index":0}],[{"node":"get workflow","type":"main","index":0}]]},"Sorted git files":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Sorted workflows":{"main":[[{"node":"reset fileName","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"git_repos","type":"main","index":0}]]},"set fileName":{"main":[[{"node":"Sorted workflows","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"n8n_workflow":{"main":[[{"node":"If file exist in git","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"git":{"main":[[{"node":"current","type":"main","index":0}]]},"current":{"main":[[{"node":"versionIds","type":"main","index":0}]]},"reset fileName":{"main":[[{"node":"n8n_workflow","type":"main","index":0}]]},"get workflow":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"set current for updload":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f71512b6-e7d0-4c01-b8fa-3521e9ca46d9","triggerCount":2,"tags":[],"fileName":"git-h4IaVqG7YjldMsXK.json"}