workflows/my-workflow-3-h4IaVqG7YjldMsXK.json
{"createdAt":"2025-04-15T19:30:49.651Z","updatedAt":"2025-04-15T20:05:29.000Z","id":"h4IaVqG7YjldMsXK","name":"My workflow 3","active":false,"nodes":[{"parameters":{"options":{}},"id":"041acaa2-2347-4fa4-8551-745d28e6126c","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2500,80]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"8875cf95-83d2-4d27-ba68-b74c876354c8","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2300,80]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"a9561742-a7ed-4fa1-bfe4-aa941217a1e5","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-2100,80]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').item.json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').item.json.folder }}"},"id":"e34ca03d-cd5a-4d1a-bcfc-87b4b36c44d1","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1800,80],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"de6cb76e-8fa5-409a-9e45-ac9b7a139104","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1480,80]},{"parameters":{"filters":{},"requestOptions":{}},"id":"bc226377-e7e1-4503-9119-642d743f5258","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1280,80],"credentials":{"n8nApi":{"id":"Vr1cbGSerVjbjeY5","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"3d713aec-d785-4c6d-ab9e-fb43c47dc1c0","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-1080,80]},{"parameters":{"batchSize":1,"options":{}},"id":"4eed3693-d136-426f-b1a4-e578ffd60f7f","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-840,80]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"beb48832-fd79-4334-9180-58deb6830eb2","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-600,0]},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').item.json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').item.json.folder }}/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"03f69ebf-8438-4ca8-9c98-6a6250a503ed","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-380,200],"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":299,"width":585},"id":"1fb2e351-0759-49cf-b755-be0385fd0c09","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2540,-60]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":319,"width":390},"id":"9123cff8-6cf1-4d80-bbe4-0501ba394112","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1940,-60]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":319,"width":384},"id":"ff33f34e-fa5d-4d7f-be78-4937babdf7ce","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1520,-60]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"user\": \"CyrilDenoyelle\",\n  \"repos\": \"n8n_game_master_ai\",\n  \"folder\": \"workflows\"\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2740,80],"id":"8429a2ba-08c9-4ae4-b58a-b504b2294b38","name":"git_repos"},{"parameters":{"formTitle":"Commit","formFields":{"values":[{"fieldLabel":"commit","placeholder":"commit message"}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-2960,80],"id":"eb1018e2-a3b3-4f7b-a0e6-abfe22d3d542","name":"On form submission","webhookId":"550c2e93-fff9-455f-8d23-6f3edd50cd37"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"=https://github.com/{{ $('git_repos').item.json.user }}","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/CyrilDenoyelle/{{ $('git_repos').item.json.repos }}","mode":"url"},"filePath":"={{ $('git_repos').item.json.folder }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"ac955b0e-caae-43d2-a098-7d5c8a166b26","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[160,-260],"credentials":{"githubOAuth2Api":{"id":"SZ9drHPSJtxxDnV3","name":"GitHub account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Retrieve workflows [N8N]'].json.updatedAt }}","operation":"notEqual","value2":"={{ $json.data.parseJson().updatedAt }}"}]}},"id":"1b3b1948-d25c-4f9c-81a4-4617772b43bd","name":"Check if file changed","type":"n8n-nodes-base.if","typeVersion":1,"position":[-120,-60]},{"parameters":{"url":"={{ $node['List files from repository [GITHUB]'].json.download_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,-60],"id":"f80860ad-292a-4526-ad05-8eaf5a2d3c21","name":"HTTP Request"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}],[]]},"Check if file exists in repository":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"git_repos":{"main":[[{"node":"Set date","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"git_repos","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Check if file changed","type":"main","index":0}]]},"Check if file changed":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a7645096-bf5d-48a3-b79b-1643dceb7c4e","triggerCount":0,"tags":[]}