workflows/my-workflow-3-h4IaVqG7YjldMsXK.json
{"data":"{\"data\":\"{\\\"createdAt\\\":\\\"2025-04-10T09:48:57.979Z\\\",\\\"updatedAt\\\":\\\"2025-04-14T21:28:00.000Z\\\",\\\"id\\\":\\\"fDa7nEW5baBLlB7v\\\",\\\"name\\\":\\\"My workflow\\\",\\\"active\\\":true,\\\"nodes\\\":[{\\\"parameters\\\":{\\\"promptType\\\":\\\"define\\\",\\\"text\\\":\\\"={{ $json.chatInput }}\\\",\\\"options\\\":{\\\"systemMessage\\\":\\\"Tu est un \\\"}},\\\"type\\\":\\\"@n8n/n8n-nodes-langchain.agent\\\",\\\"typeVersion\\\":1.8,\\\"position\\\":[640,-440],\\\"id\\\":\\\"54a76046-c57e-47b4-bfc3-9e95564ff64c\\\",\\\"name\\\":\\\"AI Agent\\\"},{\\\"parameters\\\":{\\\"model\\\":{\\\"__rl\\\":true,\\\"mode\\\":\\\"list\\\",\\\"value\\\":\\\"gpt-4o-mini\\\"},\\\"options\\\":{}},\\\"type\\\":\\\"@n8n/n8n-nodes-langchain.lmChatOpenAi\\\",\\\"typeVersion\\\":1.2,\\\"position\\\":[640,-240],\\\"id\\\":\\\"441cead4-2695-49cc-8c78-56ed70f60e27\\\",\\\"name\\\":\\\"OpenAI Chat Model\\\",\\\"credentials\\\":{\\\"openAiApi\\\":{\\\"id\\\":\\\"WERJW5onaUjM7N9O\\\",\\\"name\\\":\\\"OpenAi account\\\"}}},{\\\"parameters\\\":{},\\\"type\\\":\\\"@n8n/n8n-nodes-langchain.memoryBufferWindow\\\",\\\"typeVersion\\\":1.3,\\\"position\\\":[760,-220],\\\"id\\\":\\\"c8d91295-55ed-4fa2-9f53-df0c007eb42d\\\",\\\"name\\\":\\\"Simple Memory\\\"},{\\\"parameters\\\":{\\\"resource\\\":\\\"message\\\",\\\"guildId\\\":{\\\"__rl\\\":true,\\\"value\\\":\\\"={{ $('Format message json').item.json.body.guild.id }}\\\",\\\"mode\\\":\\\"id\\\"},\\\"channelId\\\":{\\\"__rl\\\":true,\\\"value\\\":\\\"={{ $('Format message json').item.json.body.channel.id }}\\\",\\\"mode\\\":\\\"id\\\"},\\\"content\\\":\\\"={{ $('AI Agent').item.json.output }}\\\",\\\"options\\\":{}},\\\"type\\\":\\\"n8n-nodes-base.discord\\\",\\\"typeVersion\\\":2,\\\"position\\\":[1020,-440],\\\"id\\\":\\\"5e6e055d-6898-407d-a149-8156e11ead4d\\\",\\\"name\\\":\\\"Discord1\\\",\\\"webhookId\\\":\\\"ffc61cd9-b507-4df5-858a-cad19890d8e5\\\",\\\"credentials\\\":{\\\"discordBotApi\\\":{\\\"id\\\":\\\"KPvBm5QqRsDAy08Q\\\",\\\"name\\\":\\\"Discord Bot account\\\"}}},{\\\"parameters\\\":{\\\"operation\\\":\\\"fromJson\\\",\\\"destinationKey\\\":\\\"=data\\\",\\\"options\\\":{\\\"encoding\\\":\\\"utf8\\\",\\\"keepSource\\\":\\\"json\\\"}},\\\"type\\\":\\\"n8n-nodes-base.extractFromFile\\\",\\\"typeVersion\\\":1,\\\"position\\\":[440,-40],\\\"id\\\":\\\"e2e5c060-3d21-4255-beb1-7f21ba8302cc\\\",\\\"name\\\":\\\"Extract from File\\\"},{\\\"parameters\\\":{\\\"operation\\\":\\\"fromJson\\\",\\\"destinationKey\\\":\\\"=data\\\",\\\"options\\\":{\\\"encoding\\\":\\\"utf8\\\",\\\"keepSource\\\":\\\"json\\\"}},\\\"type\\\":\\\"n8n-nodes-base.extractFromFile\\\",\\\"typeVersion\\\":1,\\\"position\\\":[440,160],\\\"id\\\":\\\"1c44d3a1-b856-40c7-80d2-1f8eb342b88b\\\",\\\"name\\\":\\\"Extract from File1\\\"},{\\\"parameters\\\":{\\\"httpMethod\\\":\\\"POST\\\",\\\"path\\\":\\\"play\\\",\\\"options\\\":{}},\\\"type\\\":\\\"n8n-nodes-base.webhook\\\",\\\"typeVersion\\\":2,\\\"position\\\":[200,-440],\\\"id\\\":\\\"2d3a7301-e6f9-49fc-8483-04aec982e3d1\\\",\\\"name\\\":\\\"Webhook Play\\\",\\\"webhookId\\\":\\\"1073ea64-cd61-4074-a8de-11c43b5e40a4\\\",\\\"notesInFlow\\\":true,\\\"notes\\\":\\\"/play\\\"},{\\\"parameters\\\":{\\\"mode\\\":\\\"raw\\\",\\\"jsonOutput\\\":\\\"={\\\\n  \\\\\\\"sessionId\\\\\\\": \\\\\\\"{{ $json.body.channel.id }}\\\\\\\",\\\\n  \\\\\\\"action\\\\\\\": \\\\\\\"sendMessage\\\\\\\",\\\\n  \\\\\\\"chatInput\\\\\\\": \\\\\\\"{{ $json.body.metadata.originalMessage.content }}\\\\\\\"\\\\n}\\\\n \\\",\\\"includeOtherFields\\\":true,\\\"options\\\":{}},\\\"type\\\":\\\"n8n-nodes-base.set\\\",\\\"typeVersion\\\":3.4,\\\"position\\\":[420,-440],\\\"id\\\":\\\"4a30ee11-8b7b-418a-8f5c-27647aff266b\\\",\\\"name\\\":\\\"Format message json\\\"},{\\\"parameters\\\":{\\\"multipleMethods\\\":true,\\\"httpMethod\\\":[\\\"POST\\\",\\\"GET\\\",\\\"PUT\\\",\\\"DELETE\\\"],\\\"path\\\":\\\"games\\\",\\\"options\\\":{}},\\\"type\\\":\\\"n8n-nodes-base.webhook\\\",\\\"typeVersion\\\":2,\\\"position\\\":[20,0],\\\"id\\\":\\\"1a7ee621-9d98-4b16-b65b-4a75b4181efa\\\",\\\"name\\\":\\\"Webhook Games\\\",\\\"webhookId\\\":\\\"8eeddfbb-52cb-4c47-977e-10b94e0b88d5\\\",\\\"notesInFlow\\\":true,\\\"notes\\\":\\\"/games\\\"}],\\\"connections\\\":{\\\"OpenAI Chat Model\\\":{\\\"ai_languageModel\\\":[[{\\\"node\\\":\\\"AI Agent\\\",\\\"type\\\":\\\"ai_languageModel\\\",\\\"index\\\":0}]]},\\\"Simple Memory\\\":{\\\"ai_memory\\\":[[{\\\"node\\\":\\\"AI Agent\\\",\\\"type\\\":\\\"ai_memory\\\",\\\"index\\\":0}]]},\\\"AI Agent\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"Discord1\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"Webhook Play\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"Format message json\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"Format message json\\\":{\\\"main\\\":[[{\\\"node\\\":\\\"AI Agent\\\",\\\"type\\\":\\\"main\\\",\\\"index\\\":0}]]},\\\"Webhook Games\\\":{\\\"main\\\":[[]]}},\\\"settings\\\":{\\\"executionOrder\\\":\\\"v1\\\"},\\\"staticData\\\":null,\\\"meta\\\":{\\\"templateCredsSetupCompleted\\\":true},\\\"pinData\\\":{\\\"Webhook Play\\\":[{\\\"json\\\":{\\\"headers\\\":{\\\"accept\\\":\\\"application/json, text/plain, */*\\\",\\\"content-type\\\":\\\"application/json\\\",\\\"user-agent\\\":\\\"axios/1.8.4\\\",\\\"content-length\\\":\\\"429\\\",\\\"accept-encoding\\\":\\\"gzip, compress, deflate, br\\\",\\\"host\\\":\\\"n8n:5678\\\",\\\"connection\\\":\\\"keep-alive\\\"},\\\"params\\\":{},\\\"query\\\":{},\\\"body\\\":{\\\"message\\\":\\\"test\\\",\\\"user\\\":{\\\"id\\\":\\\"192016054162030594\\\",\\\"name\\\":\\\"seedess\\\",\\\"discriminator\\\":\\\"0\\\"},\\\"channel\\\":{\\\"id\\\":\\\"1354834544079011840\\\"},\\\"guild\\\":{\\\"id\\\":\\\"501763051075141633\\\"},\\\"timestamp\\\":1744664878285,\\\"source\\\":\\\"discord\\\",\\\"metadata\\\":{\\\"originalMessage\\\":{\\\"content\\\":\\\"test\\\",\\\"author\\\":{\\\"id\\\":\\\"192016054162030594\\\",\\\"username\\\":\\\"seedess\\\",\\\"discriminator\\\":\\\"0\\\"},\\\"channelId\\\":\\\"1354834544079011840\\\",\\\"guildId\\\":\\\"501763051075141633\\\",\\\"timestamp\\\":1744664878285}}},\\\"webhookUrl\\\":\\\"http://localhost:5678/webhook/play\\\",\\\"executionMode\\\":\\\"production\\\"}}]},\\\"versionId\\\":\\\"e4802da8-b7a5-4849-bda6-1b9435002fec\\\",\\\"triggerCount\\\":5,\\\"tags\\\":[]}\",\"current\":{\"createdAt\":\"2025-04-14T20:16:46.830Z\",\"updatedAt\":\"2025-04-16T00:11:52.000Z\",\"id\":\"zAUNDWiEgr5YB1l1\",\"name\":\"My workflow 2\",\"active\":false,\"nodes\":[{\"parameters\":{\"events\":[\"init\"]},\"type\":\"n8n-nodes-base.n8nTrigger\",\"typeVersion\":1,\"position\":[0,0],\"id\":\"58d4f915-1a0b-45e4-8251-028d8a51c352\",\"name\":\"n8n Trigger\"},{\"parameters\":{\"jsCode\":\"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\\nfor (const item of $input.all()) {\\n  item.json.myNewField = 1;\\n}\\n\\nreturn $input.all();\"},\"type\":\"n8n-nodes-base.code\",\"typeVersion\":2,\"position\":[320,20],\"id\":\"92cf2d52-6950-47e8-93de-a6d431dc4043\",\"name\":\"Code\"}],\"connections\":{\"n8n Trigger\":{\"main\":[[{\"node\":\"Code\",\"type\":\"main\",\"index\":0}]]}},\"settings\":{\"executionOrder\":\"v1\"},\"staticData\":null,\"meta\":{\"templateCredsSetupCompleted\":true},\"pinData\":{},\"versionId\":\"2b069933-24ab-4505-b983-f4e4d2037395\",\"triggerCount\":0,\"tags\":[]},\"git\":{\"createdAt\":\"2025-04-10T09:48:57.979Z\",\"updatedAt\":\"2025-04-14T21:28:00.000Z\",\"id\":\"fDa7nEW5baBLlB7v\",\"name\":\"My workflow\",\"active\":true,\"nodes\":[{\"parameters\":{\"promptType\":\"define\",\"text\":\"={{ $json.chatInput }}\",\"options\":{\"systemMessage\":\"Tu est un \"}},\"type\":\"@n8n/n8n-nodes-langchain.agent\",\"typeVersion\":1.8,\"position\":[640,-440],\"id\":\"54a76046-c57e-47b4-bfc3-9e95564ff64c\",\"name\":\"AI Agent\"},{\"parameters\":{\"model\":{\"__rl\":true,\"mode\":\"list\",\"value\":\"gpt-4o-mini\"},\"options\":{}},\"type\":\"@n8n/n8n-nodes-langchain.lmChatOpenAi\",\"typeVersion\":1.2,\"position\":[640,-240],\"id\":\"441cead4-2695-49cc-8c78-56ed70f60e27\",\"name\":\"OpenAI Chat Model\",\"credentials\":{\"openAiApi\":{\"id\":\"WERJW5onaUjM7N9O\",\"name\":\"OpenAi account\"}}},{\"parameters\":{},\"type\":\"@n8n/n8n-nodes-langchain.memoryBufferWindow\",\"typeVersion\":1.3,\"position\":[760,-220],\"id\":\"c8d91295-55ed-4fa2-9f53-df0c007eb42d\",\"name\":\"Simple Memory\"},{\"parameters\":{\"resource\":\"message\",\"guildId\":{\"__rl\":true,\"value\":\"={{ $('Format message json').item.json.body.guild.id }}\",\"mode\":\"id\"},\"channelId\":{\"__rl\":true,\"value\":\"={{ $('Format message json').item.json.body.channel.id }}\",\"mode\":\"id\"},\"content\":\"={{ $('AI Agent').item.json.output }}\",\"options\":{}},\"type\":\"n8n-nodes-base.discord\",\"typeVersion\":2,\"position\":[1020,-440],\"id\":\"5e6e055d-6898-407d-a149-8156e11ead4d\",\"name\":\"Discord1\",\"webhookId\":\"ffc61cd9-b507-4df5-858a-cad19890d8e5\",\"credentials\":{\"discordBotApi\":{\"id\":\"KPvBm5QqRsDAy08Q\",\"name\":\"Discord Bot account\"}}},{\"parameters\":{\"operation\":\"fromJson\",\"destinationKey\":\"=data\",\"options\":{\"encoding\":\"utf8\",\"keepSource\":\"json\"}},\"type\":\"n8n-nodes-base.extractFromFile\",\"typeVersion\":1,\"position\":[440,-40],\"id\":\"e2e5c060-3d21-4255-beb1-7f21ba8302cc\",\"name\":\"Extract from File\"},{\"parameters\":{\"operation\":\"fromJson\",\"destinationKey\":\"=data\",\"options\":{\"encoding\":\"utf8\",\"keepSource\":\"json\"}},\"type\":\"n8n-nodes-base.extractFromFile\",\"typeVersion\":1,\"position\":[440,160],\"id\":\"1c44d3a1-b856-40c7-80d2-1f8eb342b88b\",\"name\":\"Extract from File1\"},{\"parameters\":{\"httpMethod\":\"POST\",\"path\":\"play\",\"options\":{}},\"type\":\"n8n-nodes-base.webhook\",\"typeVersion\":2,\"position\":[200,-440],\"id\":\"2d3a7301-e6f9-49fc-8483-04aec982e3d1\",\"name\":\"Webhook Play\",\"webhookId\":\"1073ea64-cd61-4074-a8de-11c43b5e40a4\",\"notesInFlow\":true,\"notes\":\"/play\"},{\"parameters\":{\"mode\":\"raw\",\"jsonOutput\":\"={\\n  \\\"sessionId\\\": \\\"{{ $json.body.channel.id }}\\\",\\n  \\\"action\\\": \\\"sendMessage\\\",\\n  \\\"chatInput\\\": \\\"{{ $json.body.metadata.originalMessage.content }}\\\"\\n}\\n \",\"includeOtherFields\":true,\"options\":{}},\"type\":\"n8n-nodes-base.set\",\"typeVersion\":3.4,\"position\":[420,-440],\"id\":\"4a30ee11-8b7b-418a-8f5c-27647aff266b\",\"name\":\"Format message json\"},{\"parameters\":{\"multipleMethods\":true,\"httpMethod\":[\"POST\",\"GET\",\"PUT\",\"DELETE\"],\"path\":\"games\",\"options\":{}},\"type\":\"n8n-nodes-base.webhook\",\"typeVersion\":2,\"position\":[20,0],\"id\":\"1a7ee621-9d98-4b16-b65b-4a75b4181efa\",\"name\":\"Webhook Games\",\"webhookId\":\"8eeddfbb-52cb-4c47-977e-10b94e0b88d5\",\"notesInFlow\":true,\"notes\":\"/games\"}],\"connections\":{\"OpenAI Chat Model\":{\"ai_languageModel\":[[{\"node\":\"AI Agent\",\"type\":\"ai_languageModel\",\"index\":0}]]},\"Simple Memory\":{\"ai_memory\":[[{\"node\":\"AI Agent\",\"type\":\"ai_memory\",\"index\":0}]]},\"AI Agent\":{\"main\":[[{\"node\":\"Discord1\",\"type\":\"main\",\"index\":0}]]},\"Webhook Play\":{\"main\":[[{\"node\":\"Format message json\",\"type\":\"main\",\"index\":0}]]},\"Format message json\":{\"main\":[[{\"node\":\"AI Agent\",\"type\":\"main\",\"index\":0}]]},\"Webhook Games\":{\"main\":[[]]}},\"settings\":{\"executionOrder\":\"v1\"},\"staticData\":null,\"meta\":{\"templateCredsSetupCompleted\":true},\"pinData\":{\"Webhook Play\":[{\"json\":{\"headers\":{\"accept\":\"application/json, text/plain, */*\",\"content-type\":\"application/json\",\"user-agent\":\"axios/1.8.4\",\"content-length\":\"429\",\"accept-encoding\":\"gzip, compress, deflate, br\",\"host\":\"n8n:5678\",\"connection\":\"keep-alive\"},\"params\":{},\"query\":{},\"body\":{\"message\":\"test\",\"user\":{\"id\":\"192016054162030594\",\"name\":\"seedess\",\"discriminator\":\"0\"},\"channel\":{\"id\":\"1354834544079011840\"},\"guild\":{\"id\":\"501763051075141633\"},\"timestamp\":1744664878285,\"source\":\"discord\",\"metadata\":{\"originalMessage\":{\"content\":\"test\",\"author\":{\"id\":\"192016054162030594\",\"username\":\"seedess\",\"discriminator\":\"0\"},\"channelId\":\"1354834544079011840\",\"guildId\":\"501763051075141633\",\"timestamp\":1744664878285}}},\"webhookUrl\":\"http://localhost:5678/webhook/play\",\"executionMode\":\"production\"}}]},\"versionId\":\"e4802da8-b7a5-4849-bda6-1b9435002fec\",\"triggerCount\":5,\"tags\":[]}}","current":{"createdAt":"2025-04-10T09:47:32.579Z","updatedAt":"2025-04-16T00:42:09.000Z","id":"i69FWTaD67IB842e","name":"Demo: My first AI Agent in n8n","active":false,"nodes":[{"parameters":{"options":{}},"id":"5b410409-5b0b-47bd-b413-5b9b1000a063","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[360,20],"webhookId":"a889d2ae-2159-402f-b326-5f61e90f602e"},{"parameters":{"options":{"systemMessage":"=You're a helpful assistant that helps the user answer questions about their calendar.\n\nToday is {{ $now.format('cccc') }} the {{ $now.format('yyyy-MM-dd HH:mm') }}."}},"id":"29963449-1dc1-487d-96f2-7ff0a5c3cd97","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,20]},{"parameters":{"content":"## 👋 Welcome to n8n!\nThis example shows how to build an AI Agent that interacts with your \ncalendar.\n\n### 1. Connect your accounts\n- Set up your [OpenAI credentials](https://docs.n8n.io/integrations/builtin/credentials/openai/?utm_source=n8n_app&utm_medium=credential_settings&utm_campaign=create_new_credentials_modal) in the `OpenAI Model` node \n- Connect your Google account in the `Google Calendar` node credentials section\n\n### 2. Ready to test it?\nClick Chat below and start asking questions! For example you can try `What meetings do I have today?`","height":389,"width":319,"color":6},"id":"eae35513-07c2-4de2-a795-a153b6934c1b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\nDon't have **Google Calendar**? Simply exchange this with the **Microsoft Outlook** or other tools","height":253,"width":226,"color":7},"id":"68b59889-7aca-49fd-a49b-d86fa6239b96","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[900,280]},{"parameters":{"options":{}},"id":"cbaedf86-9153-4778-b893-a7e50d3e04ba","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[520,220],"credentials":{"openAiApi":{"id":"WERJW5onaUjM7N9O","name":"OpenAi account"}}},{"parameters":{},"id":"75481370-bade-4d90-a878-3a3b0201edcc","name":"Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[680,220]},{"parameters":{"content":"### Want to learn more?\nWant to learn more about AI and how to apply it best in n8n? Have a look at our [new tutorial series on YouTube](https://www.youtube.com/watch?v=yzvLfHb0nqE&lc).","height":100,"width":317,"color":6},"id":"907552eb-6e0f-472e-9d90-4513a67a31db","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,400]},{"parameters":{"options":{}},"id":"7aed84b6-efae-4862-8474-236151ca3638","name":"OpenAI Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[460,320],"credentials":{"openAiApi":{"id":"WERJW5onaUjM7N9O","name":"OpenAi account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"PT1i+zU92Ii5O2XCObkhfHJR5h9rNJTpiCIkYJk9jHU=","templateCredsSetupCompleted":true},"pinData":{},"versionId":"9829fa5c-b2ff-4df5-8657-a5850205d65e","triggerCount":0,"tags":[]},"git":{"data":"{\"createdAt\":\"2025-04-10T09:48:57.979Z\",\"updatedAt\":\"2025-04-14T21:28:00.000Z\",\"id\":\"fDa7nEW5baBLlB7v\",\"name\":\"My workflow\",\"active\":true,\"nodes\":[{\"parameters\":{\"promptType\":\"define\",\"text\":\"={{ $json.chatInput }}\",\"options\":{\"systemMessage\":\"Tu est un \"}},\"type\":\"@n8n/n8n-nodes-langchain.agent\",\"typeVersion\":1.8,\"position\":[640,-440],\"id\":\"54a76046-c57e-47b4-bfc3-9e95564ff64c\",\"name\":\"AI Agent\"},{\"parameters\":{\"model\":{\"__rl\":true,\"mode\":\"list\",\"value\":\"gpt-4o-mini\"},\"options\":{}},\"type\":\"@n8n/n8n-nodes-langchain.lmChatOpenAi\",\"typeVersion\":1.2,\"position\":[640,-240],\"id\":\"441cead4-2695-49cc-8c78-56ed70f60e27\",\"name\":\"OpenAI Chat Model\",\"credentials\":{\"openAiApi\":{\"id\":\"WERJW5onaUjM7N9O\",\"name\":\"OpenAi account\"}}},{\"parameters\":{},\"type\":\"@n8n/n8n-nodes-langchain.memoryBufferWindow\",\"typeVersion\":1.3,\"position\":[760,-220],\"id\":\"c8d91295-55ed-4fa2-9f53-df0c007eb42d\",\"name\":\"Simple Memory\"},{\"parameters\":{\"resource\":\"message\",\"guildId\":{\"__rl\":true,\"value\":\"={{ $('Format message json').item.json.body.guild.id }}\",\"mode\":\"id\"},\"channelId\":{\"__rl\":true,\"value\":\"={{ $('Format message json').item.json.body.channel.id }}\",\"mode\":\"id\"},\"content\":\"={{ $('AI Agent').item.json.output }}\",\"options\":{}},\"type\":\"n8n-nodes-base.discord\",\"typeVersion\":2,\"position\":[1020,-440],\"id\":\"5e6e055d-6898-407d-a149-8156e11ead4d\",\"name\":\"Discord1\",\"webhookId\":\"ffc61cd9-b507-4df5-858a-cad19890d8e5\",\"credentials\":{\"discordBotApi\":{\"id\":\"KPvBm5QqRsDAy08Q\",\"name\":\"Discord Bot account\"}}},{\"parameters\":{\"operation\":\"fromJson\",\"destinationKey\":\"=data\",\"options\":{\"encoding\":\"utf8\",\"keepSource\":\"json\"}},\"type\":\"n8n-nodes-base.extractFromFile\",\"typeVersion\":1,\"position\":[440,-40],\"id\":\"e2e5c060-3d21-4255-beb1-7f21ba8302cc\",\"name\":\"Extract from File\"},{\"parameters\":{\"operation\":\"fromJson\",\"destinationKey\":\"=data\",\"options\":{\"encoding\":\"utf8\",\"keepSource\":\"json\"}},\"type\":\"n8n-nodes-base.extractFromFile\",\"typeVersion\":1,\"position\":[440,160],\"id\":\"1c44d3a1-b856-40c7-80d2-1f8eb342b88b\",\"name\":\"Extract from File1\"},{\"parameters\":{\"httpMethod\":\"POST\",\"path\":\"play\",\"options\":{}},\"type\":\"n8n-nodes-base.webhook\",\"typeVersion\":2,\"position\":[200,-440],\"id\":\"2d3a7301-e6f9-49fc-8483-04aec982e3d1\",\"name\":\"Webhook Play\",\"webhookId\":\"1073ea64-cd61-4074-a8de-11c43b5e40a4\",\"notesInFlow\":true,\"notes\":\"/play\"},{\"parameters\":{\"mode\":\"raw\",\"jsonOutput\":\"={\\n  \\\"sessionId\\\": \\\"{{ $json.body.channel.id }}\\\",\\n  \\\"action\\\": \\\"sendMessage\\\",\\n  \\\"chatInput\\\": \\\"{{ $json.body.metadata.originalMessage.content }}\\\"\\n}\\n \",\"includeOtherFields\":true,\"options\":{}},\"type\":\"n8n-nodes-base.set\",\"typeVersion\":3.4,\"position\":[420,-440],\"id\":\"4a30ee11-8b7b-418a-8f5c-27647aff266b\",\"name\":\"Format message json\"},{\"parameters\":{\"multipleMethods\":true,\"httpMethod\":[\"POST\",\"GET\",\"PUT\",\"DELETE\"],\"path\":\"games\",\"options\":{}},\"type\":\"n8n-nodes-base.webhook\",\"typeVersion\":2,\"position\":[20,0],\"id\":\"1a7ee621-9d98-4b16-b65b-4a75b4181efa\",\"name\":\"Webhook Games\",\"webhookId\":\"8eeddfbb-52cb-4c47-977e-10b94e0b88d5\",\"notesInFlow\":true,\"notes\":\"/games\"}],\"connections\":{\"OpenAI Chat Model\":{\"ai_languageModel\":[[{\"node\":\"AI Agent\",\"type\":\"ai_languageModel\",\"index\":0}]]},\"Simple Memory\":{\"ai_memory\":[[{\"node\":\"AI Agent\",\"type\":\"ai_memory\",\"index\":0}]]},\"AI Agent\":{\"main\":[[{\"node\":\"Discord1\",\"type\":\"main\",\"index\":0}]]},\"Webhook Play\":{\"main\":[[{\"node\":\"Format message json\",\"type\":\"main\",\"index\":0}]]},\"Format message json\":{\"main\":[[{\"node\":\"AI Agent\",\"type\":\"main\",\"index\":0}]]},\"Webhook Games\":{\"main\":[[]]}},\"settings\":{\"executionOrder\":\"v1\"},\"staticData\":null,\"meta\":{\"templateCredsSetupCompleted\":true},\"pinData\":{\"Webhook Play\":[{\"json\":{\"headers\":{\"accept\":\"application/json, text/plain, */*\",\"content-type\":\"application/json\",\"user-agent\":\"axios/1.8.4\",\"content-length\":\"429\",\"accept-encoding\":\"gzip, compress, deflate, br\",\"host\":\"n8n:5678\",\"connection\":\"keep-alive\"},\"params\":{},\"query\":{},\"body\":{\"message\":\"test\",\"user\":{\"id\":\"192016054162030594\",\"name\":\"seedess\",\"discriminator\":\"0\"},\"channel\":{\"id\":\"1354834544079011840\"},\"guild\":{\"id\":\"501763051075141633\"},\"timestamp\":1744664878285,\"source\":\"discord\",\"metadata\":{\"originalMessage\":{\"content\":\"test\",\"author\":{\"id\":\"192016054162030594\",\"username\":\"seedess\",\"discriminator\":\"0\"},\"channelId\":\"1354834544079011840\",\"guildId\":\"501763051075141633\",\"timestamp\":1744664878285}}},\"webhookUrl\":\"http://localhost:5678/webhook/play\",\"executionMode\":\"production\"}}]},\"versionId\":\"e4802da8-b7a5-4849-bda6-1b9435002fec\",\"triggerCount\":5,\"tags\":[]}","current":{"createdAt":"2025-04-14T20:16:46.830Z","updatedAt":"2025-04-16T00:11:52.000Z","id":"zAUNDWiEgr5YB1l1","name":"My workflow 2","active":false,"nodes":[{"parameters":{"events":["init"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[0,0],"id":"58d4f915-1a0b-45e4-8251-028d8a51c352","name":"n8n Trigger"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,20],"id":"92cf2d52-6950-47e8-93de-a6d431dc4043","name":"Code"}],"connections":{"n8n Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2b069933-24ab-4505-b983-f4e4d2037395","triggerCount":0,"tags":[]},"git":{"createdAt":"2025-04-10T09:48:57.979Z","updatedAt":"2025-04-14T21:28:00.000Z","id":"fDa7nEW5baBLlB7v","name":"My workflow","active":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"Tu est un "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[640,-440],"id":"54a76046-c57e-47b4-bfc3-9e95564ff64c","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[640,-240],"id":"441cead4-2695-49cc-8c78-56ed70f60e27","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WERJW5onaUjM7N9O","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[760,-220],"id":"c8d91295-55ed-4fa2-9f53-df0c007eb42d","name":"Simple Memory"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"={{ $('Format message json').item.json.body.guild.id }}","mode":"id"},"channelId":{"__rl":true,"value":"={{ $('Format message json').item.json.body.channel.id }}","mode":"id"},"content":"={{ $('AI Agent').item.json.output }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1020,-440],"id":"5e6e055d-6898-407d-a149-8156e11ead4d","name":"Discord1","webhookId":"ffc61cd9-b507-4df5-858a-cad19890d8e5","credentials":{"discordBotApi":{"id":"KPvBm5QqRsDAy08Q","name":"Discord Bot account"}}},{"parameters":{"operation":"fromJson","destinationKey":"=data","options":{"encoding":"utf8","keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[440,-40],"id":"e2e5c060-3d21-4255-beb1-7f21ba8302cc","name":"Extract from File"},{"parameters":{"operation":"fromJson","destinationKey":"=data","options":{"encoding":"utf8","keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[440,160],"id":"1c44d3a1-b856-40c7-80d2-1f8eb342b88b","name":"Extract from File1"},{"parameters":{"httpMethod":"POST","path":"play","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,-440],"id":"2d3a7301-e6f9-49fc-8483-04aec982e3d1","name":"Webhook Play","webhookId":"1073ea64-cd61-4074-a8de-11c43b5e40a4","notesInFlow":true,"notes":"/play"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"sessionId\": \"{{ $json.body.channel.id }}\",\n  \"action\": \"sendMessage\",\n  \"chatInput\": \"{{ $json.body.metadata.originalMessage.content }}\"\n}\n ","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,-440],"id":"4a30ee11-8b7b-418a-8f5c-27647aff266b","name":"Format message json"},{"parameters":{"multipleMethods":true,"httpMethod":["POST","GET","PUT","DELETE"],"path":"games","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[20,0],"id":"1a7ee621-9d98-4b16-b65b-4a75b4181efa","name":"Webhook Games","webhookId":"8eeddfbb-52cb-4c47-977e-10b94e0b88d5","notesInFlow":true,"notes":"/games"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Discord1","type":"main","index":0}]]},"Webhook Play":{"main":[[{"node":"Format message json","type":"main","index":0}]]},"Format message json":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Webhook Games":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook Play":[{"json":{"headers":{"accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"axios/1.8.4","content-length":"429","accept-encoding":"gzip, compress, deflate, br","host":"n8n:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"message":"test","user":{"id":"192016054162030594","name":"seedess","discriminator":"0"},"channel":{"id":"1354834544079011840"},"guild":{"id":"501763051075141633"},"timestamp":1744664878285,"source":"discord","metadata":{"originalMessage":{"content":"test","author":{"id":"192016054162030594","username":"seedess","discriminator":"0"},"channelId":"1354834544079011840","guildId":"501763051075141633","timestamp":1744664878285}}},"webhookUrl":"http://localhost:5678/webhook/play","executionMode":"production"}}]},"versionId":"e4802da8-b7a5-4849-bda6-1b9435002fec","triggerCount":5,"tags":[]}}}